Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-setup-cfg, repoma-self-check, flake8, mypy, pylint

format-setup-cfg:
  name: Format setup.cfg
  entry: format-setup-cfg
  language: python

repoma-self-check:
  name: repoma-self-check
  entry: repoma-self-check
  language: python

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --score=no
  language: system
  require_serial: true

MAINT: sort arguments of `parser.add_argument()`
  src/repoma/check_dev_files/__init__.py
Due: flake8, mypy, pylint

FEAT: add option to allow deprecated workflows
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

MAINT: switch to ComPWA/actions@v1
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  src/repoma/.github/workflows/cd.yml
  src/repoma/.github/workflows/ci.yml
  src/repoma/.github/workflows/requirements.yml
Due: none

FIX: do not write CI workflow if jobs are empty
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

BREAK: always allow `ci.yml` if jobs are empty
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: correctly sort dict items in cSpell config
  src/repoma/check_dev_files/cspell.py
Due: flake8, mypy, pylint

FIX: correctly sort dict items in cSpell config (#101)
  src/repoma/check_dev_files/cspell.py
Due: flake8, mypy, pylint

FIX: get package name from `src/` directory
  .github/workflows/ci.yml
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FEAT: enforce new shared workflows (#99)
  .github/workflows/cd.yml
  .github/workflows/ci-style.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci.yml
  .github/workflows/clean-cache.yml
  .github/workflows/milestone.yml
  .github/workflows/pr-linting.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .prettierrc
  .pylintrc
  .vscode/settings.json
  src/repoma/.github/workflows/cd.yml
  src/repoma/.github/workflows/ci-docs.yml
  src/repoma/.github/workflows/ci.yml
  src/repoma/.github/workflows/clean-cache.yml
  src/repoma/.github/workflows/linkcheck.yml
  src/repoma/.github/workflows/milestone.yml
  src/repoma/.github/workflows/requirements-cron-bimonthly.yml
  src/repoma/.github/workflows/requirements-cron-biweekly.yml
  src/repoma/.github/workflows/requirements-cron-monthly.yml
  src/repoma/.github/workflows/requirements-pr.yml
  src/repoma/.github/workflows/requirements.yml
  src/repoma/.template/ci-style.yml
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/github_workflows.py
  src/repoma/check_dev_files/precommit.py
  src/repoma/check_dev_files/update_pip_constraints.py
  src/repoma/utilities/__init__.py
  src/repoma/utilities/setup_cfg.py
  tests/output/.gitignore
Due: repoma-self-check, flake8, mypy, pylint

FIX: remove caches from ref instead of branch
  .github/workflows/clean-cache.yml
Due: none

FIX: remove caches from ref instead of branch (#102)
  .github/workflows/clean-cache.yml
Due: none

MAINT: outsource cache leaning to ComPWA/actions
  .github/workflows/clean-cache.yml
Due: none

MAINT: outsource cache leaning to ComPWA/actions (#103)
  .github/workflows/clean-cache.yml
Due: none

FIX: set `GH_TOKEN` for ComPWA/actions@v1
  .github/workflows/clean-caches.yml
  .vscode/settings.json
  src/repoma/.github/workflows/clean-cache.yml
  src/repoma/.github/workflows/clean-caches.yml
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: set `GH_TOKEN` for ComPWA/actions@v1 (#104)
  .github/workflows/clean-caches.yml
  .vscode/settings.json
  src/repoma/.github/workflows/clean-cache.yml
  src/repoma/.github/workflows/clean-caches.yml
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: update "✨ Feature" issue label
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/release-drafter.yml
  .github/workflows/pr-linting.yml
  labels-physics.toml
  labels.toml
  src/repoma/.github/release-drafter.yml
Due: none

FIX: update "✨ Feature" issue label (#106)
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/release-drafter.yml
  .github/workflows/pr-linting.yml
  labels-physics.toml
  labels.toml
  src/repoma/.github/release-drafter.yml
Due: none

DX: specify for which branch to clean caches
  .github/workflows/clean-caches.yml
Due: none

DX: specify for which branch to clean caches (#105)
  .github/workflows/clean-caches.yml
Due: none

FIX: try to match package name with PyPI name
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: try to match package name with PyPI name (#107)
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FEAT: distinguish workflow "create" vs "update" message
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: ignore comments in `setup.cfg` style section
  src/repoma/check_dev_files/flake8.py
Due: flake8, mypy, pylint

MAINT: update test values
  tests/check_dev_files/test_flake8.py
Due: flake8, mypy, pylint

FIX: inherit secrets for pushing to PyPI
  .github/workflows/cd.yml
  src/repoma/.github/workflows/cd.yml
Due: none

FEAT: distinguish workflow "create" vs "update" message (#110)
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: ignore comments in `setup.cfg` style section (#111)
  src/repoma/check_dev_files/flake8.py
  tests/check_dev_files/test_flake8.py
Due: flake8, mypy, pylint

FIX: inherit secrets for pushing to PyPI (#112)
  .github/workflows/cd.yml
  src/repoma/.github/workflows/cd.yml
Due: none

ENH: sort VS Code extensions
  src/repoma/utilities/vscode.py
Due: flake8, mypy, pylint

MAINT: remove `unwantedRecommendations`
  .vscode/extensions.json
Due: none

FEAT: enforce Taplo as a TOML formatter
  .gitpod.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/toml.py
Due: repoma-self-check, flake8, mypy, pylint

FIX: write VS Code instead of VSCode
  src/repoma/utilities/vscode.py
Due: flake8, mypy, pylint

FEAT: automatically rename `.taplo.config`
  src/repoma/check_dev_files/toml.py
Due: flake8, mypy, pylint

FIX: update test values
  tests/check_dev_files/test_gitpod.py
Due: flake8, mypy, pylint

MAINT: sort `_ConfigFilePaths` attributes
  src/repoma/utilities/__init__.py
Due: flake8, mypy, pylint

FEAT: add standardized Taplo config
  .cspell.json
  .taplo.toml
  .vscode/settings.json
  src/repoma/.template/.taplo.toml
  src/repoma/check_dev_files/toml.py
  src/repoma/utilities/__init__.py
Due: flake8, mypy, pylint

FEAT: automatically update `ci.skip` section
  .pre-commit-config.yaml
  src/repoma/check_dev_files/precommit.py
Due: repoma-self-check, flake8, mypy, pylint

MAINT: apply TOML formatting
  .taplo.toml
  pyproject.toml
  src/repoma/check_dev_files/black.py
  tests/check_dev_files/test_black.py
Due: flake8, mypy, pylint

TEST: try ComPWA/actions@27dca01
  pyproject.toml
Due: none

MAINT: inherit secrets to Style workflow
  .github/workflows/ci.yml
  src/repoma/.github/workflows/ci.yml
Due: none

Path conditions:
  format-setup-cfg: any of: ^setup.cfg$
  repoma-self-check: any of: ^\.pre\-commit\-(config|hooks)\.yaml$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
