Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-setup-cfg, repoma-self-check, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "MAINT: autoupdate pre-commit hooks"
  autoupdate_schedule: quarterly
  skip:
    - check-dev-files
    - format-setup-cfg
    - mypy
    - pyright
    - repoma-self-check
    - taplo

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-dev-files
        name: Check developer config files in the repository
        entry: check-dev-files
        language: python
        always_run: true
        pass_filenames: false
        args:
          - --allow-labels
          - --no-pypi
          - --repo-name=repo-maintenance
          - --repo-title=ComPWA Repository Maintenance

      - id: format-setup-cfg
        name: Format setup.cfg
        entry: format-setup-cfg
        language: python
        files: ^setup.cfg$

      - id: repoma-self-check
        name: repoma-self-check
        entry: repoma-self-check
        language: python
        files: ^\.pre\-commit\-(config|hooks)\.yaml$

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.13.0
    hooks:
      - id: blacken-docs

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.31.0
    hooks:
      - id: cspell

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.1
    hooks:
      - id: editorconfig-checker
        name: editorconfig
        alias: ec
        exclude: >-
          (?x)^(
            .*\.py
          )$

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types:
          - python

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier

  - repo: https://github.com/ComPWA/mirrors-pyright
    rev: v1.1.307
    hooks:
      - id: pyright

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args:
          - --py36-plus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.275
    hooks:
      - id: ruff
        args:
          - --fix

  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.8.0
    hooks:
      - id: taplo

ENH: remove GitPod config if `--no-gitpod` (#189)
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/gitpod.py
Due: mypy

FIX: point to absolute mypy config path
  .vscode/settings.json
  src/repoma/check_dev_files/mypy.py
Due: mypy

FIX: point to absolute mypy config path (#190)
  .vscode/settings.json
  src/repoma/check_dev_files/mypy.py
Due: mypy

DX: remove `.prettierrc`
  .pre-commit-config.yaml
  .prettierrc
  src/repoma/.template/.prettierrc
Due: repoma-self-check

ENH: disable word wrap if `.prettierrc` has been removed
  .vscode/settings.json
  src/repoma/check_dev_files/prettier.py
  src/repoma/utilities/vscode.py
Due: mypy

DX: show editor ruler only in Python files
  .vscode/settings.json
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/vscode.py
Due: mypy

ENH: disable word wrap if `.prettierrc` has been removed (#191)
  .pre-commit-config.yaml
  .prettierrc
  .vscode/settings.json
  src/repoma/.template/.prettierrc
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/prettier.py
  src/repoma/check_dev_files/vscode.py
  src/repoma/utilities/vscode.py
Due: repoma-self-check, mypy

DX: configure rewrap extension for VSCode
  .vscode/settings.json
  src/repoma/check_dev_files/vscode.py
Due: mypy

DX: recommend MyST VSCode extension
  src/repoma/check_dev_files/vscode.py
Due: mypy

DX: visualize module dependencies with `pydeps`
  tox.ini
Due: none

DOC: build HTML pages for `repoma` API
  .cspell.json
  .github/workflows/ci.yml
  .gitpod.yml
  .vscode/extensions.json
  .vscode/settings.json
  docs/.gitignore
  docs/_static/.gitignore
  docs/_static/favicon.ico
  docs/_templates/module.rst_t
  docs/_templates/package.rst_t
  docs/_templates/toc.rst_t
  docs/conf.py
  docs/index.md
  pyproject.toml
  setup.cfg
  src/repoma/utilities/precommit.py
  tox.ini
Due: format-setup-cfg, mypy

FIX: correct restructuredText link syntax
  src/repoma/__init__.py
  src/repoma/pin_nb_requirements.py
Due: mypy

DOC: improve `autoupdate` snippet
  README.md
Due: none

DOC: add link to `.pre-commit-hooks.yaml`
  README.md
Due: none

DOC: automatically link API in reST syntax
  docs/conf.py
  src/repoma/utilities/project_info.py
Due: mypy

DX: configure rewrap extension for VSCode (#192)
  .vscode/settings.json
  src/repoma/check_dev_files/vscode.py
Due: mypy

FIX: add `tox -e docnb` job
  tox.ini
Due: none

FIX: update link to `check-dev-files`
  docs/index.md
Due: none

DOC: host API documentation for `repoma` module (#193)
  .cspell.json
  .github/workflows/ci.yml
  .gitpod.yml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  docs/.gitignore
  docs/_static/.gitignore
  docs/_static/favicon.ico
  docs/_templates/module.rst_t
  docs/_templates/package.rst_t
  docs/_templates/toc.rst_t
  docs/conf.py
  docs/index.md
  pyproject.toml
  setup.cfg
  src/repoma/__init__.py
  src/repoma/check_dev_files/vscode.py
  src/repoma/pin_nb_requirements.py
  src/repoma/utilities/precommit.py
  src/repoma/utilities/project_info.py
  tox.ini
Due: format-setup-cfg, mypy

DOC: automatically document `check-dev-files` arguments
  .cspell.json
  docs/check-dev-files.md
  docs/conf.py
  docs/index.md
  setup.cfg
  src/repoma/check_dev_files/__init__.py
Due: format-setup-cfg, mypy

DOC: automatically document `check-dev-files` arguments (#195)
  .cspell.json
  docs/check-dev-files.md
  docs/conf.py
  docs/index.md
  setup.cfg
  src/repoma/check_dev_files/__init__.py
Due: format-setup-cfg, mypy

MAINT: move `labels` configuration to `labels/` folder
  .cspell.json
  .github/workflows/sync-labels.yml
  .pre-commit-config.yaml
  .taplo.toml
  labels/default.toml
  labels/physics.toml
  src/repoma/check_dev_files/github_labels.py
  src/repoma/check_dev_files/toml.py
Due: repoma-self-check, mypy

MAINT: move `labels` configuration to `labels/` folder (#196)
  .cspell.json
  .github/workflows/sync-labels.yml
  .pre-commit-config.yaml
  .taplo.toml
  labels/default.toml
  labels/physics.toml
  src/repoma/check_dev_files/github_labels.py
  src/repoma/check_dev_files/toml.py
Due: repoma-self-check, mypy

ENH: sort JSON document case-insensitive
  docs/conf.py
  pyproject.toml
  src/repoma/utilities/vscode.py
Due: mypy

FIX: import `OrderedDict` from `typing_extensions`
  pyproject.toml
  setup.cfg
  src/repoma/check_dev_files/ruff.py
  src/repoma/utilities/vscode.py
Due: format-setup-cfg, mypy

FIX: correct restructuredText link syntax
  src/repoma/utilities/vscode.py
Due: mypy

ENH: sort JSON document case-insensitive (#197)
  docs/conf.py
  pyproject.toml
  setup.cfg
  src/repoma/check_dev_files/ruff.py
  src/repoma/utilities/vscode.py
Due: format-setup-cfg, mypy

FIX: create `.github/workflows` directory if non-existent
  src/repoma/check_dev_files/github_workflows.py
Due: mypy

FIX: remove duplicate `check-dev-files` TOC entry
  docs/index.md
Due: none

FIX: create `.github/workflows` directory if non-existent (#198)
  docs/index.md
  src/repoma/check_dev_files/github_workflows.py
Due: mypy

ENH: add option to not update GitHub Actions
  src/repoma/check_dev_files/__init__.py
Due: mypy

MAINT: remove redundant Taplo config exclusions
  .taplo.toml
  .vscode/settings.json
  src/repoma/.template/.taplo.toml
  src/repoma/check_dev_files/toml.py
  src/repoma/utilities/pyproject.py
Due: mypy

FIX: remove space from `project.readme` section
  src/repoma/check_dev_files/setup_cfg.py
Due: mypy

ENH: add `--no-ruff` argument
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/deprecated.py
  src/repoma/check_dev_files/ruff.py
  src/repoma/utilities/__init__.py
Due: mypy

FIX: sort options in pre-commit error
  src/repoma/check_dev_files/setup_cfg.py
Due: mypy

MAINT: remove redundant Taplo config exclusions (#201)
  .taplo.toml
  .vscode/settings.json
  src/repoma/.template/.taplo.toml
  src/repoma/check_dev_files/toml.py
  src/repoma/utilities/pyproject.py
Due: mypy

ENH: add `--no-ruff` argument (#200)
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/deprecated.py
  src/repoma/check_dev_files/ruff.py
  src/repoma/check_dev_files/setup_cfg.py
  src/repoma/utilities/__init__.py
Due: mypy

ENH: add option to not update GitHub Actions (#199)
  src/repoma/check_dev_files/__init__.py
Due: mypy

FIX: ignore whitespaces in TOML comparison
  src/repoma/check_dev_files/toml.py
Due: mypy

ENH: sort keys in Taplo config comparison
  src/repoma/check_dev_files/toml.py
Due: mypy
