Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-setup-cfg, repoma-self-check, flake8, mypy, pylint

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "MAINT: autoupdate pre-commit hooks"
  autoupdate_schedule: monthly
  skip:
    # local hooks
    - check-dev-files
    - flake8
    - format-setup-cfg
    - mypy
    - pylint
    - repoma-self-check
    # hooks that don't work on pre-commit.ci
    - editorconfig-checker
    - pyright

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-dev-files
        name: Check developer config files in the repository
        entry: check-dev-files
        language: python
        always_run: true
        pass_filenames: false
        args:
          - --allow-labels
          - --repo-name=repo-maintenance
          - --repo-title='ComPWA Repository Maintenance'

      - id: format-setup-cfg
        name: Format setup.cfg
        entry: format-setup-cfg
        language: python
        files: ^setup.cfg$

      - id: repoma-self-check
        name: repoma-self-check
        entry: repoma-self-check
        language: python
        files: ^\.pre\-commit\-(config|hooks)\.yaml$

  - repo: https://github.com/PyCQA/autoflake
    rev: v2.0.0
    hooks:
      - id: autoflake

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.16.0
    hooks:
      - id: cspell

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.6.2
    hooks:
      - id: editorconfig-checker
        name: editorconfig
        exclude: >
          (?x)^(
            .*\.py
          )$

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types:
          - python

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.2
    hooks:
      - id: markdownlint

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types:
          - python

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier

  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        args:
          - --rcfile=.pylintrc
          - --score=no
        language: system
        require_serial: true
        types:
          - python

  - repo: https://github.com/ComPWA/mirrors-pyright
    rev: v1.1.283
    hooks:
      - id: pyright

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args:
          - --py36-plus

MAINT: autoupdate pre-commit hooks
  .pre-commit-config.yaml
Due: repoma-self-check

FIX: remove apostrophes from release template
  .github/release-drafter.yml
  .pre-commit-config.yaml
Due: repoma-self-check

FIX: replace `ampform` with `REPO_NAME`
  .github/release-drafter.yml
  src/repoma/.github/release-drafter.yml
  src/repoma/check_dev_files/release_drafter.py
Due: flake8, mypy, pylint

FIX: avoid cyclic removal of `.prettierignore`
  .cspell.json
  src/repoma/check_dev_files/prettier.py
Due: flake8, mypy, pylint

DX: wrap lines in PR template
  .github/pull_request_template.md
Due: none

FEAT: check sorting of `pre-commit` single-hook repos
  src/repoma/check_dev_files/precommit.py
Due: flake8, mypy, pylint

FEAT: check multiple-hook repo bundling
  src/repoma/check_dev_files/precommit.py
Due: flake8, mypy, pylint

MAINT: run GitHub Actions on `ubuntu-22.04`
  .github/workflows/cd.yml
  .github/workflows/ci-style.yml
  .github/workflows/ci-tests.yml
  .github/workflows/milestone.yml
  .github/workflows/pr-linting.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sync-labels.yml
  src/repoma/.github/workflows/cd.yml
  src/repoma/.github/workflows/ci-docs.yml
  src/repoma/.github/workflows/linkcheck.yml
  src/repoma/.github/workflows/milestone.yml
  src/repoma/.github/workflows/requirements-cron-bimonthly.yml
  src/repoma/.github/workflows/requirements-cron-biweekly.yml
  src/repoma/.github/workflows/requirements-cron-monthly.yml
  src/repoma/.github/workflows/requirements-pr.yml
  src/repoma/.template/ci-style.yml
Due: none

FEAT: enforce new `requirements.yml` workflow
  .vscode/settings.json
  src/repoma/.github/workflows/requirements-cron-bimonthly.yml
  src/repoma/.github/workflows/requirements-cron-biweekly.yml
  src/repoma/.github/workflows/requirements-cron-monthly.yml
  src/repoma/.github/workflows/requirements-pr.yml
  src/repoma/.github/workflows/requirements.yml
  src/repoma/check_dev_files/update_pip_constraints.py
Due: flake8, mypy, pylint

DX: run `editorconfig-checker` on pre-commit.ci
  .github/workflows/ci-style.yml
  .prettierrc
  src/repoma/check_dev_files/precommit.py
Due: flake8, mypy, pylint

FEAT: automatically update `ci.yml` workflow
  .github/workflows/ci-style.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci.yml
  src/repoma/.github/workflows/ci-docs.yml
  src/repoma/.github/workflows/ci.yml
  src/repoma/.github/workflows/linkcheck.yml
  src/repoma/.template/ci-style.yml
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/github_workflows.py
  src/repoma/check_dev_files/update_pip_constraints.py
  src/repoma/utilities/__init__.py
  src/repoma/utilities/setup_cfg.py
Due: flake8, mypy, pylint

FIX: check `docs/` folder, not `doc/`
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: set `with.gh-pages` if no RTD config
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FEAT: perform all update tasks in one pre-commit run
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FEAT: add workflow for cleaning cache after a PR
  .github/workflows/clean-cache.yml
  src/repoma/.github/workflows/clean-cache.yml
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FEAT: check whether editorconfig-checker is skipped
  .pre-commit-config.yaml
  src/repoma/check_dev_files/precommit.py
Due: repoma-self-check, flake8, mypy, pylint

FIX: do not push to minor branch on prerelease
  .github/workflows/cd.yml
  src/repoma/.github/workflows/cd.yml
Due: none

DX: outsource CD workflow to ComPWA/actions
  .github/workflows/cd.yml
  .github/workflows/milestone.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  src/repoma/.github/workflows/cd.yml
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/github_workflows.py
Due: repoma-self-check, flake8, mypy, pylint

MAINT: remove spaces between jobs
  .github/workflows/ci.yml
  src/repoma/.github/workflows/ci.yml
  src/repoma/.github/workflows/milestone.yml
Due: none

FIX: add option to install `apt` packages
  .vscode/settings.json
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: pass on `apt-packages` if no GitHub Pages
  src/repoma/.github/workflows/ci.yml
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: correctly get from empty `with` key
  src/repoma/.github/workflows/ci.yml
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: set `apt-packages` as `str` argument
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FEAT: add option to not run `pytest` on macOS
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/github_workflows.py
Due: repoma-self-check, flake8, mypy, pylint

FEAT: verify installation on Python 3.11
  pyproject.toml
  setup.cfg
Due: format-setup-cfg

FIX: update test values
  src/repoma/utilities/setup_cfg.py
  tests/check_dev_files/test_black.py
Due: flake8, mypy, pylint

FEAT: verify installation on Python 3.11 (#100)
  pyproject.toml
  setup.cfg
  src/repoma/utilities/setup_cfg.py
  tests/check_dev_files/test_black.py
Due: format-setup-cfg, flake8, mypy, pylint

DX: verify installation on macOS
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: repoma-self-check

FEAT: add option to install extra test dependencies
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FEAT: add option to install specific pip packages
  .github/workflows/ci.yml
  src/repoma/.github/workflows/ci.yml
Due: none

FIX: do not run style checks with specific versions
  .github/workflows/ci.yml
  src/repoma/.github/workflows/ci.yml
Due: none

MAINT: do not delete keys from `with` section
  src/repoma/.github/workflows/ci.yml
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: sort `with` section
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FEAT: allow skipping pytest on certain Python versions
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: use lowercase in package name
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FEAT: remove style job if all hooks are run on pre-commit.ci
  .pylintrc
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

MAINT: extract update functions
  .vscode/settings.json
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FEAT: upload test output as artifact
  src/repoma/check_dev_files/github_workflows.py
  tests/output/.gitignore
Due: flake8, mypy, pylint

FIX: correctly sort dict items in cSpell config
  src/repoma/check_dev_files/cspell.py
Due: flake8, mypy, pylint
