Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: self-check, mypy

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "MAINT: implement pre-commit autofixes"
  autoupdate_commit_msg: "MAINT: upgrade lock files"
  autoupdate_schedule: quarterly
  skip:
    - check-dev-files
    - mypy
    - pyright
    - self-check

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-dev-files
        name: Check developer config files in the repository
        entry: check-dev-files
        language: python
        always_run: true
        pass_filenames: false
        args:
          - --allow-labels
          - --dependabot=update
          - --excluded-python-versions=3.14
          - --no-pypi
          - --pytest-single-threaded
          - --repo-name=policy
          - --repo-title=ComPWA repository policy

      - id: self-check
        name: self-check
        entry: self-check
        language: python
        files: ^\.pre\-commit\-(config|hooks)\.yaml$

  - repo: https://github.com/ComPWA/prettier-pre-commit
    rev: v3.4.2
    hooks:
      - id: prettier

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.3
    hooks:
      - id: toml-sort
        args: [--in-place]
        exclude: (?x)^(labels/.*\.toml)$

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.0
    hooks:
      - id: cspell

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.4.0
    hooks:
      - id: editorconfig-checker
        name: editorconfig
        alias: ec
        exclude: >-
          (?x)^(
            .*\.py
          )$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types:
          - python

  - repo: https://github.com/ComPWA/pyright-pre-commit
    rev: v1.1.406
    hooks:
      - id: pyright

MAINT: satisfy new ruff and ty diagnostics
  pyproject.toml
  src/compwa_policy/utilities/precommit/__init__.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/resource.py
  src/compwa_policy/utilities/session.py
  src/compwa_policy/utilities/vscode.py
Due: mypy

MAINT: update GitHub Actions workflows
  .github/workflows/benchmark.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clean-caches.yml
  .github/workflows/lock.yml
  .github/workflows/pr-linting.yml
Due: none

MAINT: downgrade to ComPWA/actions@4.0.2
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clean-caches.yml
  .github/workflows/lock.yml
  .github/workflows/pr-linting.yml
Due: none

MAINT: pin ComPWA actions to PR 182 for CI verification
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clean-caches.yml
  .github/workflows/lock.yml
  .github/workflows/pr-linting.yml
Due: none

MAINT: pin ComPWA actions to PR 183 for CI verification
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clean-caches.yml
  .github/workflows/lock.yml
  .github/workflows/pr-linting.yml
Due: none

TEST: push old version of `ty`
  .pre-commit-config.yaml
Due: self-check

TEST: push wrongly formatted file
  src/compwa_policy/utilities/resource.py
Due: mypy

MAINT: upgrade lock files
  .pre-commit-config.yaml
Due: self-check

MAINT: update `ComPWA/actions` pin to v4.1.1
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clean-caches.yml
  .github/workflows/lock.yml
  .github/workflows/pr-linting.yml
Due: none

ENH: switch to `prek`
  .cspell.json
  .prekignore
  CONTRIBUTING.md
  README.md
  docs/check-dev-files/migrations.md
  docs/index.md
  pyproject.toml
  src/compwa_policy/.template/.cspell.json
  src/compwa_policy/.template/CONTRIBUTING.md.jinja
  src/compwa_policy/cli/migrate.py
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/format/precommit.py
  src/compwa_policy/repo/poe.py
  src/compwa_policy/utilities/prek.py
  tests/cli/test_migrate.py
  tests/test_pixi.py
  tests/utilities/test_prek.py
Due: mypy

DOC: unwrap hard-wrapped Markdown under docs
  docs/check-dev-files/configuration.md
  docs/check-dev-files/migrations.md
Due: none

MAINT: remove text about `prek` migration
  docs/check-dev-files/migrations.md
Due: none

MAINT: remove redundant `.gitignore` exceptions
  .gitignore
Due: none

BEHAVIOR: remove `pre-commit.ci` configuration
  .pre-commit-config.yaml
  README.md
  src/compwa_policy/format/precommit.py
  src/compwa_policy/github/upgrade_lock.py
  src/compwa_policy/github/workflows.py
  tests/format/test_precommit.py
  tests/github/test_workflows.py
  tests/utilities/precommit/.pre-commit-config.yaml
  tests/utilities/precommit/test_getters.py
Due: self-check, mypy

ENH: run `prek autoupdate` without `-j` flag
  docs/check-dev-files.md
  pyproject.toml
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/format/precommit.py
  src/compwa_policy/repo/poe.py
  tests/repo/test_poe.py
  tests/test_pixi.py
Due: mypy

BEHAVIOR: limit migrate to policy configuration
  docs/check-dev-files.md
  src/compwa_policy/cli/migrate.py
  src/compwa_policy/utilities/prek.py
  tests/cli/test_migrate.py
  tests/utilities/test_prek.py
Due: mypy

MAINT: implement updates from formatters
  src/compwa_policy/utilities/resource.py
Due: mypy

FIX: restore pre-commit.ci support alongside prek
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  src/compwa_policy/cli/migrate.py
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/format/precommit.py
  src/compwa_policy/github/upgrade_lock.py
  src/compwa_policy/github/workflows.py
  src/compwa_policy/repo/poe.py
  tests/format/test_precommit.py
  tests/github/test_workflows.py
  tests/repo/test_poe.py
  tests/test_pixi.py
  tests/utilities/precommit/.pre-commit-config.yaml
  tests/utilities/precommit/test_getters.py
Due: self-check, mypy

FIX: keep upgrade task field ordering consistent
  pyproject.toml
  src/compwa_policy/repo/poe.py
Due: mypy

ENH: switch to `prek` (#695)
  .cspell.json
  .gitignore
  .prekignore
  CONTRIBUTING.md
  README.md
  docs/check-dev-files/configuration.md
  docs/check-dev-files/migrations.md
  docs/index.md
  pyproject.toml
  src/compwa_policy/.template/.cspell.json
  src/compwa_policy/.template/CONTRIBUTING.md.jinja
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/format/precommit.py
  src/compwa_policy/repo/poe.py
  tests/repo/test_poe.py
  tests/test_pixi.py
Due: mypy

ENH: migrate `style` task from `pre-commit` to `prek`
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/repo/poe.py
  src/compwa_policy/repo/upgrade.py
  tests/repo/test_poe.py
  tests/test_pixi.py
Due: mypy

ENH: migrate `style` task to `prek` (#701)
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/repo/poe.py
  src/compwa_policy/repo/upgrade.py
  tests/repo/test_poe.py
  tests/test_pixi.py
Due: mypy

MAINT: upgrade lock files
  .github/workflows/release-drafter.yml
Due: none

MAINT: fix linting issues
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/vscode.py
Due: mypy

DOC: remove copyright from documentation footer
  docs/conf.py
Due: mypy

DOC: restore copyright in documentation footer
  docs/conf.py
Due: mypy

DOC: remove author from documentation footer
  docs/conf.py
Due: mypy

MAINT: replace `rtoml` with `tomli` and `tomli-w`
  pyproject.toml
  src/compwa_policy/characterization.py
  src/compwa_policy/cli/migrate.py
  src/compwa_policy/env/direnv.py
  src/compwa_policy/env/uv.py
  src/compwa_policy/format/toml.py
  src/compwa_policy/python/mypy.py
  src/compwa_policy/python/pytest.py
  src/compwa_policy/utilities/pyproject/__init__.py
  tests/cli/test_bootstrap.py
  tests/utilities/pyproject/test_getters.py
Due: mypy

MAINT: replace `rtoml` with `tomli` and `tomli-w` (#716)
  pyproject.toml
  src/compwa_policy/characterization.py
  src/compwa_policy/cli/migrate.py
  src/compwa_policy/env/direnv.py
  src/compwa_policy/env/uv.py
  src/compwa_policy/format/toml.py
  src/compwa_policy/python/mypy.py
  src/compwa_policy/python/pytest.py
  src/compwa_policy/utilities/pyproject/__init__.py
  tests/cli/test_bootstrap.py
  tests/utilities/pyproject/test_getters.py
Due: mypy

MAINT: minor formatting improvements
  src/compwa_policy/utilities/pyproject/__init__.py
Due: mypy

FEAT: support Python 3.15 in `check-dev-files`
  compwa-policy.schema.json
  pyproject.toml
  src/compwa_policy/config.py
  src/compwa_policy/utilities/pyproject/getters.py
Due: mypy

ENH: support Python 3.15
  pyproject.toml
  src/compwa_policy/utilities/pyproject/__init__.py
Due: mypy

BEHAVIOR: support Python 3.15 (#717)
  compwa-policy.schema.json
  pyproject.toml
  src/compwa_policy/config.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/getters.py
Due: mypy

FIX: upgrade all nested uv lock files even after failures
  src/compwa_policy/repo/upgrade.py
  tests/repo/test_upgrade.py
Due: mypy

BEHAVIOR: upgrade every nested uv lock file (#718)
  src/compwa_policy/repo/upgrade.py
  tests/repo/test_upgrade.py
Due: mypy

FIX: preserve dependency constraints in Pixi upgrade tasks
  src/compwa_policy/repo/poe.py
  tests/repo/test_poe.py
Due: mypy

BEHAVIOR: preserve Pixi dependency constraints (#719)
  src/compwa_policy/repo/poe.py
  tests/repo/test_poe.py
Due: mypy

FIX: use conda lychee for Pixi link checking
  docs/check-dev-files.md
  src/compwa_policy/env/pixi/_update.py
  tests/env/pixi/test_update.py
  tests/test_pixi.py
Due: mypy
