Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: repoma-self-check, mypy

repoma-self-check:
  name: repoma-self-check
  entry: repoma-self-check
  language: python

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

MAINT: move `ruff` to `lint` optional dependencies
  pyproject.toml
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

ENH: ignore Ruff rule ISC001 for formatter
  pyproject.toml
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

MAINT: remove `lint` optional dependencies
  pyproject.toml
Due: none

FIX: keep `black` in optional `test` dependencies
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

DX: switch from `black` to ruff
  .gitpod.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/jupyter.py
  src/compwa_policy/check_dev_files/ruff.py
Due: repoma-self-check, mypy

FIX: keep `black` in optional `doc` dependencies
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

FIX: avoid use of YAML anchors
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

MAINT: uninstall `radon`
  pyproject.toml
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

FIX: ignore `black` under `jupyter` section
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

DX: implement Ruff formatter (#301)
  .gitpod.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/jupyter.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/utilities/vscode.py
Due: repoma-self-check, mypy

ENH: use (pinned) Ruff from environment
  .vscode/settings.json
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

DX: format notebooks on save
  .vscode/settings.json
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

DX: format notebooks on save with Ruff (#302)
  .vscode/settings.json
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

ENH: add `--keep-pr-linting` flag
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/github_workflows.py
Due: mypy

MAINT: use `CONFIG_PATH` for constraints folder name
  src/compwa_policy/utilities/project_info.py
Due: mypy

ENH: check contents of `.constraints` dir
  src/compwa_policy/check_dev_files/precommit.py
Due: mypy

ENH: check contents of `.constraints` directory (#305)
  src/compwa_policy/check_dev_files/precommit.py
  src/compwa_policy/utilities/project_info.py
Due: mypy

ENH: add `--keep-pr-linting` flag (#304)
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/github_workflows.py
Due: mypy

ENH: print execution times
  src/compwa_policy/utilities/executor.py
Due: mypy

ENH: print subhook execution times (#306)
  src/compwa_policy/utilities/executor.py
Due: mypy

MAINT: outsource PR linting to ComPWA/actions
  .github/workflows/pr-linting.yml
Due: none

MAINT: outsource PR linting to ComPWA/actions (#307)
  .github/workflows/pr-linting.yml
Due: none

BREAK: remove `pin-nb-requirements` hook
  .pre-commit-hooks.yaml
  README.md
  docs/index.md
  pyproject.toml
  src/compwa_policy/pin_nb_requirements.py
Due: repoma-self-check, mypy

BREAK: remove `pin-nb-requirements` hook (#308)
  .pre-commit-hooks.yaml
  README.md
  docs/index.md
  pyproject.toml
  src/compwa_policy/pin_nb_requirements.py
Due: repoma-self-check, mypy

ENH: move `pep8-naming` Ruff config to `lint`
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

ENH: move `pep8-naming` Ruff config to `lint` (#309)
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

MAINT: sort `lint_option_keys`
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

FIX: add `select` to lint option keys
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

FIX: add select to lint option keys (#310)
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

DOC: link to APIs in doctests
  docs/conf.py
  pyproject.toml
  src/compwa_policy/utilities/vscode.py
Due: mypy

DOC: add logos and source buttong links
  docs/conf.py
Due: mypy

DOC: add logos and source button links (#311)
  docs/conf.py
  pyproject.toml
  src/compwa_policy/utilities/vscode.py
Due: mypy

BREAK: remove `setup.cfg` support
  .editorconfig
  .pre-commit-hooks.yaml
  docs/index.md
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/github_workflows.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/check_dev_files/setup_cfg.py
  src/compwa_policy/format_setup_cfg.py
  src/compwa_policy/utilities/project_info.py
  tests/test_format_setup_cfg.py
Due: repoma-self-check, mypy

BREAK: remove `setup.cfg` support (#312)
  .editorconfig
  .pre-commit-hooks.yaml
  docs/index.md
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/github_workflows.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/check_dev_files/setup_cfg.py
  src/compwa_policy/format_setup_cfg.py
  src/compwa_policy/utilities/project_info.py
  tests/test_format_setup_cfg.py
Due: repoma-self-check, mypy

FIX: remove type hint union parentheses
  src/compwa_policy/utilities/pyproject.py
Due: mypy

ENH: speed up TOML updates with stateful class
  .cspell.json
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/black.py
  src/compwa_policy/check_dev_files/conda.py
  src/compwa_policy/check_dev_files/github_workflows.py
  src/compwa_policy/check_dev_files/gitpod.py
  src/compwa_policy/check_dev_files/jupyter.py
  src/compwa_policy/check_dev_files/mypy.py
  src/compwa_policy/check_dev_files/precommit.py
  src/compwa_policy/check_dev_files/pyright.py
  src/compwa_policy/check_dev_files/pytest.py
  src/compwa_policy/check_dev_files/pyupgrade.py
  src/compwa_policy/check_dev_files/readthedocs.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/check_dev_files/toml.py
  src/compwa_policy/set_nb_cells.py
  src/compwa_policy/utilities/__init__.py
  src/compwa_policy/utilities/executor.py
  src/compwa_policy/utilities/project_info.py
  src/compwa_policy/utilities/pyproject.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/getters.py
  src/compwa_policy/utilities/pyproject/setters.py
  src/compwa_policy/utilities/toml.py
  tests/utilities/pyproject/test_getters.py
  tests/utilities/pyproject/test_setters.py
  tests/utilities/test_cfg.py
  tests/utilities/test_pyproject.py
  tests/utilities/test_toml.py
Due: mypy

ENH: speed up TOML file updates (#313)
  .cspell.json
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/black.py
  src/compwa_policy/check_dev_files/conda.py
  src/compwa_policy/check_dev_files/github_workflows.py
  src/compwa_policy/check_dev_files/gitpod.py
  src/compwa_policy/check_dev_files/jupyter.py
  src/compwa_policy/check_dev_files/mypy.py
  src/compwa_policy/check_dev_files/precommit.py
  src/compwa_policy/check_dev_files/pyright.py
  src/compwa_policy/check_dev_files/pytest.py
  src/compwa_policy/check_dev_files/pyupgrade.py
  src/compwa_policy/check_dev_files/readthedocs.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/check_dev_files/toml.py
  src/compwa_policy/set_nb_cells.py
  src/compwa_policy/utilities/__init__.py
  src/compwa_policy/utilities/executor.py
  src/compwa_policy/utilities/project_info.py
  src/compwa_policy/utilities/pyproject.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/getters.py
  src/compwa_policy/utilities/pyproject/setters.py
  src/compwa_policy/utilities/toml.py
  tests/utilities/pyproject/test_getters.py
  tests/utilities/pyproject/test_setters.py
  tests/utilities/test_cfg.py
  tests/utilities/test_pyproject.py
  tests/utilities/test_toml.py
Due: mypy

FIX: remove `format-setup-cfg` from hook list
  README.md
  docs/index.md
Due: none

DOC: remove module from API entries
  docs/conf.py
Due: mypy

DOC: remove module from API entries (#314)
  README.md
  docs/conf.py
  docs/index.md
Due: mypy

Path conditions:
  repoma-self-check: any of: ^\.pre\-commit\-(config|hooks)\.yaml$
  mypy: any of: \.py$
