Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: self-check, mypy

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "MAINT: implement pre-commit autofixes"
  autoupdate_commit_msg: "MAINT: upgrade lock files"
  autoupdate_schedule: quarterly
  skip:
    - check-dev-files
    - mypy
    - pyright
    - self-check

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-dev-files
        name: Check developer config files in the repository
        entry: check-dev-files
        language: python
        always_run: true
        pass_filenames: false
        args:
          - --allow-labels
          - --dependabot=update
          - --excluded-python-versions=3.14
          - --no-pypi
          - --pytest-single-threaded
          - --repo-name=policy
          - --repo-title=ComPWA repository policy

      - id: self-check
        name: self-check
        entry: self-check
        language: python
        files: ^\.pre\-commit\-(config|hooks)\.yaml$

  - repo: https://github.com/ComPWA/prettier-pre-commit
    rev: v3.4.2
    hooks:
      - id: prettier

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.3
    hooks:
      - id: toml-sort
        args: [--in-place]
        exclude: (?x)^(labels/.*\.toml)$

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.0
    hooks:
      - id: cspell

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.4.0
    hooks:
      - id: editorconfig-checker
        name: editorconfig
        alias: ec
        exclude: >-
          (?x)^(
            .*\.py
          )$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types:
          - python

  - repo: https://github.com/ComPWA/pyright-pre-commit
    rev: v1.1.406
    hooks:
      - id: pyright

ENH: normalize repo spacing in `.pre-commit-config.yaml`
  src/compwa_policy/utilities/precommit/__init__.py
  tests/utilities/precommit/test_class.py
Due: mypy

FIX: support newly created repos
  src/compwa_policy/utilities/precommit/__init__.py
  tests/utilities/precommit/test_class.py
Due: mypy

FIX: improve setting of comments
  src/compwa_policy/utilities/precommit/__init__.py
  tests/utilities/precommit/test_class.py
Due: mypy

ENH: sort `ty` arguments
  .pre-commit-config.yaml
  src/compwa_policy/python/ty.py
  tests/python/test_ty.py
Due: self-check, mypy

ENH: move `poe benchmark` to test group
  src/compwa_policy/repo/poe.py
  tests/repo/test_poe.py
Due: mypy

MAINT: minor formatting improvements
  tests/utilities/precommit/test_class.py
Due: mypy

MAINT: upgrade lock files
  .pre-commit-config.yaml
Due: self-check

ENH: normalize pre-commit repo spacing (#651)
  .pre-commit-config.yaml
  src/compwa_policy/python/ty.py
  src/compwa_policy/repo/poe.py
  src/compwa_policy/utilities/precommit/__init__.py
  tests/python/test_ty.py
  tests/repo/test_poe.py
  tests/utilities/precommit/test_class.py
Due: self-check, mypy

DX: implement regression test
  tests/cli/test_checks.py
Due: mypy

ENH: support `all-fast` and `all-slow` tasks
  src/compwa_policy/repo/poe.py
  tests/repo/test_poe.py
Due: mypy

ENH: support `all-fast` and `all-slow` tasks (#653)
  src/compwa_policy/repo/poe.py
  tests/repo/test_poe.py
Due: mypy

FEAT: implement `--toml-formatter` argument (no implementation)
  .cspell.json
  src/compwa_policy/__init__.py
  src/compwa_policy/cli/_options.py
  src/compwa_policy/cli/_settings.py
  src/compwa_policy/cli/format.py
  src/compwa_policy/format/toml.py
Due: mypy

BEHAVIOR: switch to `tombi` formatter
  .editorconfig
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .taplo.toml
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
  src/compwa_policy/cli/_options.py
  src/compwa_policy/cli/_settings.py
  src/compwa_policy/format/toml.py
  tests/format/test_toml.py
  tests/utilities/precommit/.pre-commit-config.yaml
Due: self-check, mypy

MAINT: remove `more_itertools`
  pyproject.toml
  src/compwa_policy/utilities/pyproject/setters.py
Due: mypy

ENH: define options through `Literal` instead of `Enum`
  src/compwa_policy/__init__.py
  src/compwa_policy/cli/_options.py
  src/compwa_policy/cli/_settings.py
  src/compwa_policy/config.py
  src/compwa_policy/env/conda.py
  src/compwa_policy/github/upgrade_lock.py
  src/compwa_policy/python/ty.py
Due: mypy

MAINT: revert change to EditorConfig
  .editorconfig
  src/compwa_policy/format/toml.py
  tests/format/test_toml.py
Due: mypy

FIX: run `tombi-format` on GitHub CI
  .pre-commit-config.yaml
  src/compwa_policy/format/precommit.py
  tests/format/test_precommit.py
Due: self-check, mypy

FIX: remove outdated Sphinx target remappings
  docs/conf.py
Due: mypy

MAINT: remove `PackageManagerChoice` from `conda` module
  docs/conf.py
  src/compwa_policy/__init__.py
  src/compwa_policy/cli/_options.py
  src/compwa_policy/env/conda.py
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/nb/binder.py
  src/compwa_policy/repo/poe.py
  src/compwa_policy/repo/readthedocs.py
  src/compwa_policy/repo/vscode.py
Due: mypy

MAINT: minor formatting improvements
  src/compwa_policy/format/toml.py
Due: mypy

BREAK: remove `Frequency` type alias
  docs/conf.py
  src/compwa_policy/__init__.py
  src/compwa_policy/cli/_options.py
  src/compwa_policy/github/upgrade_lock.py
Due: mypy

MAINT: improve array splitting in TOML file
  pyproject.toml
Due: none

MAINT: sort alphabetically
  docs/conf.py
Due: mypy

FEAT: add linting for `[tool.compwa.policy]`
  compwa-policy.schema.json
  pyproject.toml
  src/compwa_policy/cli/_schema.py
  src/compwa_policy/format/toml.py
  src/compwa_policy/self_check.py
  tests/cli/test_schema.py
  tests/format/test_toml.py
  tests/test_self_check.py
Due: mypy

DOC: embed docstrings in JSON schema
  .prettierignore
  compwa-policy.schema.json
  src/compwa_policy/cli/_settings.py
  tests/cli/test_schema.py
Due: mypy

FEAT: implement `tombi-lint` pre-commit hook
  .pre-commit-config.yaml
  src/compwa_policy/format/precommit.py
  src/compwa_policy/format/toml.py
  tests/format/test_precommit.py
  tests/format/test_toml.py
Due: self-check, mypy

FEAT: implement warnings as errors for Tombi
  compwa-policy.schema.json
  src/compwa_policy/__init__.py
  src/compwa_policy/cli/_options.py
  src/compwa_policy/cli/_settings.py
  src/compwa_policy/cli/format.py
  src/compwa_policy/format/toml.py
  tests/cli/test_schema.py
  tests/format/test_toml.py
Due: mypy

ENH: addres `tombi-lint` issues
  .pre-commit-config.yaml
  pyproject.toml
  src/compwa_policy/format/toml.py
  src/compwa_policy/repo/poe.py
  tests/format/test_toml.py
Due: self-check, mypy

MAINT: allow prettier formatting on schema
  .prettierignore
  compwa-policy.schema.json
Due: none

MAINT: reduce diff
  pyproject.toml
Due: none

ENH: exclude lock files from being formatted with Tombi
  src/compwa_policy/format/toml.py
  tests/format/test_toml.py
Due: mypy

ENH: standardize formatting with `to_toml_array()`
  src/compwa_policy/format/toml.py
  src/compwa_policy/python/pytest.py
Due: mypy

ENH: run `check-dev-files` before formatters
  .pre-commit-config.yaml
  src/compwa_policy/format/precommit.py
  tests/format/test_precommit.py
Due: self-check, mypy

BEHAVIOR: treat Tombi warnings as errors by default
  compwa-policy.schema.json
  pyproject.toml
  src/compwa_policy/cli/_settings.py
  tests/cli/test_schema.py
Due: mypy

ENH: do not format `uv.lock` with Tombi
  src/compwa_policy/format/toml.py
Due: mypy

MAINT: rename `builtins-ignorelist` to `ignorelist`
  src/compwa_policy/python/ruff.py
  tests/python/test_ruff.py
Due: mypy

ENH: do not enforce non-multiline array
  src/compwa_policy/env/pixi/_update.py
Due: mypy
