Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: self-check, mypy

self-check:
  name: self-check
  entry: self-check
  language: python

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

MAINT: remove `.python-version` if `requires-python` pins (#457)
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

FIX: set correct organization in `CONTRIBUTING.md`
  src/compwa_policy/.template/CONTRIBUTING.md.jinja
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

FIX: set correct organization in `CONTRIBUTING.md` (#458)
  src/compwa_policy/.template/CONTRIBUTING.md.jinja
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

MAINT: clean up dependencies
  pyproject.toml
Due: none

MAINT: autoupdate pre-commit hooks
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/readthedocs.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/check_dev_files/update_lock.py
Due: self-check, mypy

FEAT: convert dev dependencies to dependency groups
  pyproject.toml
  src/compwa_policy/check_dev_files/pyproject.py
Due: mypy

BEHAVIOR: always install dependencies through `uv export`
  src/compwa_policy/check_dev_files/binder.py
Due: mypy

FIX: install dependency groups in Binder
  src/compwa_policy/check_dev_files/binder.py
Due: mypy

ENH: remove output `requirements.txt` file
  src/compwa_policy/check_dev_files/binder.py
Due: mypy

FIX: do not include non-dev groups in include-group
  .cspell.json
  src/compwa_policy/check_dev_files/pyproject.py
Due: mypy

FIX: include extras in dependency groups
  src/compwa_policy/check_dev_files/pyproject.py
Due: mypy

BEHAVIOR: switch to `--group` instead of `--extra`
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

ENH: remove `optional-dependencies` and `dependency-groups` if empty
  src/compwa_policy/utilities/pyproject/setters.py
Due: mypy

ENH: mark `mypy` as dependency group
  src/compwa_policy/check_dev_files/pyproject.py
Due: mypy

ENH: define `dependency-groups` in `PyprojectTOML`
  src/compwa_policy/utilities/pyproject/_struct.py
  src/compwa_policy/utilities/pyproject/setters.py
Due: mypy

FIX: call `remove_dependency()` over dependency groups
  src/compwa_policy/utilities/pyproject/setters.py
Due: mypy

DX: rename `sty` dependency group to `style`
  pyproject.toml
  src/compwa_policy/check_dev_files/pyproject.py
  src/compwa_policy/check_dev_files/ruff.py
  tests/utilities/pyproject/test_setters.py
Due: mypy

FIX: auto-install dependencies into dependency groups
  src/compwa_policy/check_dev_files/jupyter.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/_struct.py
  src/compwa_policy/utilities/pyproject/setters.py
Due: mypy

DX: run `pyright` in `tox -e sty` job
  pyproject.toml
Due: none

ENH: install `ruff` into `dev`, not `style`
  pyproject.toml
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

FIX: update to ComPWA/actions@v2.1
  .github/workflows/ci.yml
  src/compwa_policy/.github/workflows/ci.yml
Due: none

MAINT: split `add_dependency()` function
  src/compwa_policy/utilities/pyproject/setters.py
Due: mypy

FIX: use `itertools.pairwise()` correctly
  src/compwa_policy/utilities/pyproject/setters.py
  tests/utilities/pyproject/test_setters.py
Due: mypy

FEAT: convert dev dependencies to dependency groups (#459)
  .cspell.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/compwa_policy/.github/workflows/ci.yml
  src/compwa_policy/check_dev_files/binder.py
  src/compwa_policy/check_dev_files/jupyter.py
  src/compwa_policy/check_dev_files/pyproject.py
  src/compwa_policy/check_dev_files/readthedocs.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/check_dev_files/update_lock.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/_struct.py
  src/compwa_policy/utilities/pyproject/setters.py
  tests/utilities/pyproject/test_setters.py
Due: self-check, mypy

FIX: add `--no-dev` flag if using `--group` flag
  src/compwa_policy/check_dev_files/binder.py
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

DOC: add `--all-extras` flag to `uv sync`
  CONTRIBUTING.md
  src/compwa_policy/.template/CONTRIBUTING.md.jinja
Due: none

FIX: add `--no-dev` flag if using `--group` flag (#460)
  CONTRIBUTING.md
  src/compwa_policy/.template/CONTRIBUTING.md.jinja
  src/compwa_policy/check_dev_files/binder.py
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

FIX: create `ci` section if missing
  src/compwa_policy/check_dev_files/precommit.py
Due: mypy

FIX: create `ci` section if missing (#461)
  src/compwa_policy/check_dev_files/precommit.py
Due: mypy

FIX: rename Ruff rule TCH to TC
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

MAINT: autoupdate pre-commit hooks
  .pre-commit-config.yaml
Due: self-check

MAINT: fix Ruff linting errors
  src/compwa_policy/check_dev_files/precommit.py
  src/compwa_policy/check_dev_files/readthedocs.py
  src/compwa_policy/utilities/executor.py
  src/compwa_policy/utilities/precommit/__init__.py
  src/compwa_policy/utilities/precommit/struct.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/_struct.py
  src/compwa_policy/utilities/pyproject/setters.py
Due: mypy

ENH: update template hook for nbQA
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

MAINT: revert change to Ruff
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

MAINT: update lock files (#467)
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/citation.py
  src/compwa_policy/check_dev_files/precommit.py
  src/compwa_policy/check_dev_files/readthedocs.py
  src/compwa_policy/utilities/executor.py
  src/compwa_policy/utilities/precommit/__init__.py
  src/compwa_policy/utilities/precommit/setters.py
  src/compwa_policy/utilities/precommit/struct.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/_struct.py
  src/compwa_policy/utilities/pyproject/setters.py
Due: self-check, mypy

FIX: rename Ruff rule TCH to TC (#466)
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

FIX: update Epic label to include emoji
  labels/default.toml
Due: none

DX: update label sync workflow to include additional repositories
  .github/workflows/sync-labels.yml
Due: none

MAINT: sort cSpell template
  .cspell.json
  src/compwa_policy/.template/.cspell.json
Due: none

ENH: respect `.gitignore` with cSpell
  .cspell.json
  src/compwa_policy/.template/.cspell.json
  src/compwa_policy/check_dev_files/cspell.py
Due: mypy

Path conditions:
  self-check: any of: ^\.pre\-commit\-(config|hooks)\.yaml$
  mypy: any of: \.py$
