Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: self-check, mypy

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "MAINT: implement pre-commit autofixes"
  autoupdate_commit_msg: "MAINT: upgrade lock files"
  autoupdate_schedule: quarterly
  skip:
    - check-dev-files
    - mypy
    - pyright
    - self-check

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-dev-files
        name: Check developer config files in the repository
        entry: check-dev-files
        language: python
        always_run: true
        pass_filenames: false
        args:
          - --allow-labels
          - --dependabot=update
          - --excluded-python-versions=3.14
          - --no-pypi
          - --pytest-single-threaded
          - --repo-name=policy
          - --repo-title=ComPWA repository policy

      - id: self-check
        name: self-check
        entry: self-check
        language: python
        files: ^\.pre\-commit\-(config|hooks)\.yaml$

  - repo: https://github.com/ComPWA/prettier-pre-commit
    rev: v3.4.2
    hooks:
      - id: prettier

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.3
    hooks:
      - id: toml-sort
        args: [--in-place]
        exclude: (?x)^(labels/.*\.toml)$

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.0
    hooks:
      - id: cspell

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.4.0
    hooks:
      - id: editorconfig-checker
        name: editorconfig
        alias: ec
        exclude: >-
          (?x)^(
            .*\.py
          )$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types:
          - python

  - repo: https://github.com/ComPWA/pyright-pre-commit
    rev: v1.1.406
    hooks:
      - id: pyright

FIX: install latest version of NodeJS for cSpell
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/cspell.py
Due: self-check, mypy

MAINT: upgrade lock files
  .pre-commit-config.yaml
Due: self-check

MAINT: address new `ty` issues
  src/compwa_policy/check_dev_files/citation.py
  src/compwa_policy/check_dev_files/toml.py
Due: mypy

FIX: sort keys in `.taplo.toml` before comparing
  src/compwa_policy/check_dev_files/toml.py
Due: mypy

ENH: upgrade non-committed lock files too
  pyproject.toml
  src/compwa_policy/check_dev_files/poe.py
Due: mypy

FEAT: define `poe upgrade` task
  pyproject.toml
  src/compwa_policy/check_dev_files/poe.py
Due: mypy

DX: reduce minimal test coverage
  codecov.yml
  pyproject.toml
Due: none

FEAT: define `poe upgrade` task (#597)
  .pre-commit-config.yaml
  codecov.yml
  pyproject.toml
  src/compwa_policy/check_dev_files/citation.py
  src/compwa_policy/check_dev_files/poe.py
  src/compwa_policy/check_dev_files/toml.py
Due: self-check, mypy

ENH: use groups in Poe the Poet config
  pyproject.toml
  src/compwa_policy/check_dev_files/poe.py
Due: mypy

DX: add description for `upgrade` task
  pyproject.toml
  src/compwa_policy/check_dev_files/poe.py
Due: mypy

ENH: group Poe the Poet tasks (#599)
  pyproject.toml
  src/compwa_policy/check_dev_files/poe.py
Due: mypy

FIX: do not sort keys in `tool.poe.groups`
  .taplo.toml
  src/compwa_policy/check_dev_files/toml.py
Due: mypy

FIX: do not sort keys in `tool.poe.groups` (#601)
  .taplo.toml
  src/compwa_policy/check_dev_files/toml.py
Due: mypy

FEAT: implement `--allow-vscode-coverage-gutters` flag
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pytest.py
Due: mypy

FEAT: allow installing `vscode-coverage-gutters` (#603)
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pytest.py
Due: mypy

ENH: define `check-dev-files` with Typer subcommands
  .cspell.json
  docs/check-dev-files.md
  docs/conf.py
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/cli/__init__.py
  src/compwa_policy/check_dev_files/cli/_checks.py
  src/compwa_policy/check_dev_files/cli/_options.py
  src/compwa_policy/check_dev_files/cli/env.py
  src/compwa_policy/check_dev_files/cli/format.py
  src/compwa_policy/check_dev_files/cli/github.py
  src/compwa_policy/check_dev_files/cli/migrate.py
  src/compwa_policy/check_dev_files/cli/nb.py
  src/compwa_policy/check_dev_files/cli/python.py
  src/compwa_policy/check_dev_files/cli/repo.py
  tests/check_dev_files/test_cli.py
Due: mypy

ENH: define `check-dev-files` with Typer subcommands (#607)
  .cspell.json
  docs/check-dev-files.md
  docs/conf.py
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/cli/__init__.py
  src/compwa_policy/check_dev_files/cli/_checks.py
  src/compwa_policy/check_dev_files/cli/_options.py
  src/compwa_policy/check_dev_files/cli/env.py
  src/compwa_policy/check_dev_files/cli/format.py
  src/compwa_policy/check_dev_files/cli/github.py
  src/compwa_policy/check_dev_files/cli/migrate.py
  src/compwa_policy/check_dev_files/cli/nb.py
  src/compwa_policy/check_dev_files/cli/python.py
  src/compwa_policy/check_dev_files/cli/repo.py
  tests/check_dev_files/test_cli.py
Due: mypy

DX: add Claude configuration to `.gitignore`
  .gitignore
Due: none

FEAT: implement settings via `pyproject.toml`
  .cspell.json
  docs/check-dev-files.md
  docs/conf.py
  pyproject.toml
  src/compwa_policy/check_dev_files/cli/__init__.py
  src/compwa_policy/check_dev_files/cli/_options.py
  src/compwa_policy/check_dev_files/cli/_settings.py
  src/compwa_policy/check_dev_files/cli/env.py
  src/compwa_policy/check_dev_files/cli/format.py
  src/compwa_policy/check_dev_files/cli/github.py
  src/compwa_policy/check_dev_files/cli/nb.py
  src/compwa_policy/check_dev_files/cli/python.py
  src/compwa_policy/check_dev_files/cli/repo.py
  tests/check_dev_files/test_cli.py
Due: mypy

FEAT: make `migrate` command convert pre-commit flags
  .cspell.json
  docs/check-dev-files.md
  src/compwa_policy/check_dev_files/cli/_options.py
  src/compwa_policy/check_dev_files/cli/_settings.py
  src/compwa_policy/check_dev_files/cli/migrate.py
  tests/check_dev_files/test_cli.py
Due: mypy

MAINT: convert pre-commit flags to `pyproject.toml`
  .pre-commit-config.yaml
  pyproject.toml
Due: self-check

FIX: use British English
  .cspell.json
  src/compwa_policy/check_dev_files/cli/_settings.py
Due: mypy

MAINT: minor formatting
  src/compwa_policy/check_dev_files/cli/format.py
Due: mypy

FEAT: implement settings via `pyproject.toml` (#608)
  .cspell.json
  .gitignore
  .pre-commit-config.yaml
  docs/check-dev-files.md
  docs/conf.py
  pyproject.toml
  src/compwa_policy/check_dev_files/cli/__init__.py
  src/compwa_policy/check_dev_files/cli/_options.py
  src/compwa_policy/check_dev_files/cli/_settings.py
  src/compwa_policy/check_dev_files/cli/env.py
  src/compwa_policy/check_dev_files/cli/format.py
  src/compwa_policy/check_dev_files/cli/github.py
  src/compwa_policy/check_dev_files/cli/migrate.py
  src/compwa_policy/check_dev_files/cli/nb.py
  src/compwa_policy/check_dev_files/cli/python.py
  src/compwa_policy/check_dev_files/cli/repo.py
  tests/check_dev_files/test_cli.py
Due: self-check, mypy

MAINT: upgrade lock files and address `ty` issues
  .pre-commit-config.yaml
  src/compwa_policy/utilities/executor.py
  src/compwa_policy/utilities/vscode.py
  tests/check_dev_files/test_cli.py
Due: self-check, mypy

ENH: expose only shared options on run-all command
  docs/check-dev-files.md
  src/compwa_policy/check_dev_files/cli/__init__.py
Due: mypy

FIX: categorize `docnb-force` as documentation
  src/compwa_policy/check_dev_files/repo/poe.py
Due: mypy

MAINT: address `ty` linting issues
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/repo/poe.py
Due: self-check, mypy

ENH: migrate notebook hooks
  codecov.yml
  docs/check-dev-files.md
  pyproject.toml
  src/compwa_policy/cli/migrate.py
  src/compwa_policy/format/precommit.py
  tests/test_cli.py
Due: mypy

ENH: get latest version of hook
  docs/conf.py
  src/compwa_policy/cli/__init__.py
  src/compwa_policy/cli/_checks.py
  src/compwa_policy/cli/_options.py
  src/compwa_policy/format/precommit.py
  src/compwa_policy/utilities/precommit/getters.py
  src/compwa_policy/utilities/precommit/setters.py
  tests/conftest.py
  tests/format/test_precommit.py
  tests/test_cli.py
  tests/utilities/precommit/test_getters.py
Due: mypy

DOC: explain use of CLI tool
  .cspell.json
  README.md
  docs/check-dev-files.md
Due: none

DOC: note --reinstall to fetch latest commit
  docs/check-dev-files.md
Due: none

DOC: highlight `policy migrate` upgrade step
  README.md
  docs/check-dev-files.md
Due: none

DOC: lead with `uvx` for running `policy`
  docs/check-dev-files.md
Due: none

DOC: explain `policy migrate` command
  docs/check-dev-files.md
Due: none

MAINT: improve documentation page
  README.md
  docs/check-dev-files.md
Due: none
