Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: self-check, mypy

self-check:
  name: self-check
  entry: self-check
  language: python

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

Update src/compwa_policy/check_dev_files/prettier.py
  src/compwa_policy/check_dev_files/prettier.py
Due: mypy

ENH: update Prettier pre-commit URL to ComPWA (#386)
  .pre-commit-config.yaml
  environment.yml
  src/compwa_policy/.template/.cspell.json
  src/compwa_policy/check_dev_files/precommit.py
  src/compwa_policy/check_dev_files/prettier.py
Due: self-check, mypy

BEHAVIOR: remove GitPod by default
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/gitpod.py
Due: mypy

BREAK: remove `--no-gitpod` option
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/__init__.py
Due: self-check, mypy

ENH: remove GitPod badge and config simultaneously
  src/compwa_policy/check_dev_files/gitpod.py
Due: mypy

BREAK: remove GitPod configuration by default (#387)
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/gitpod.py
Due: self-check, mypy

FIX: do not sort table keys with `toml-sort`
  pyproject.toml
  src/compwa_policy/check_dev_files/toml.py
Due: mypy

FIX: do not sort table keys with `toml-sort` (#388)
  pyproject.toml
  src/compwa_policy/check_dev_files/toml.py
Due: mypy

FIX: do not duplicate `nbstripout` `--extra-keys`
  src/compwa_policy/check_dev_files/nbstripout.py
Due: mypy

FIX: do not duplicate `nbstripout` `--extra-keys` (#389)
  src/compwa_policy/check_dev_files/nbstripout.py
Due: mypy

ENH: do not create `pixi.activation` table for `env`
  src/compwa_policy/check_dev_files/pixi.py
Due: mypy

ENH: do not create `pixi.activation` table for `env` (#390)
  src/compwa_policy/check_dev_files/pixi.py
Due: mypy

FIX: update description of `--outsource-pixi-to-tox` flag
  src/compwa_policy/check_dev_files/__init__.py
Due: mypy

FEAT: allow sorting `imports` to top of notebook
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

BEHAVIOR: do not remove `nbqa.isort` table if `--imports-on-top`
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

ENH: make `isort` compatible with Ruff
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

FEAT: move `import`s to top in notebooks (#392)
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

DX: remove `python.analysis.typeCheckingMode` VS Code setting
  .vscode/settings.json
  src/compwa_policy/check_dev_files/vscode.py
Due: mypy

DX: remove `python.analysis.typeCheckingMode` setting (#399)
  .vscode/settings.json
  src/compwa_policy/check_dev_files/vscode.py
Due: mypy

DX: define `tox` jobs in `pyproject.toml`
  pyproject.toml
Due: none

DX: switch to temporary Even Betterer TOML extension
  .vscode/extensions.json
  src/compwa_policy/check_dev_files/toml.py
Due: mypy

DX: ignore cSpell words in `.taplo.toml`
  .cspell.json
  src/compwa_policy/.template/.cspell.json
Due: none

FIX: do not sort arrays under `tool.tox` table
  .taplo.toml
  src/compwa_policy/.template/.taplo.toml
Due: none

ENH: run `nbqa-isort` before `ruff`
  src/compwa_policy/check_dev_files/precommit.py
Due: mypy

ENH: extract hook ids once
  src/compwa_policy/check_dev_files/precommit.py
Due: mypy

FIX: remove `skip` key if no expected hook skips
  src/compwa_policy/check_dev_files/precommit.py
Due: mypy

MAINT: apply new sorting
  .vscode/settings.json
Due: none

DX: sort JSON keys case-sensitive like VS Code
  src/compwa_policy/check_dev_files/cspell.py
  src/compwa_policy/utilities/vscode.py
Due: mypy

ENH: ignore `rst.jinja` files with cSpell
  src/compwa_policy/.template/.cspell.json
Due: none

MAINT: remove `*.rst_t` pattern
  .cspell.json
  src/compwa_policy/.template/.cspell.json
Due: none

ENH: ignore `rst.jinja` files with cSpell (#406)
  .cspell.json
  src/compwa_policy/.template/.cspell.json
Due: none

ENH: use case-sensitive sorting in `.vscode/settings.json` (#405)
  .vscode/settings.json
  src/compwa_policy/check_dev_files/cspell.py
  src/compwa_policy/utilities/vscode.py
Due: mypy

FIX: remove `skip` key if no expected hook skips (#403)
  src/compwa_policy/check_dev_files/precommit.py
Due: mypy

ENH: run `nbqa-isort` before Ruff (#402)
  src/compwa_policy/check_dev_files/precommit.py
Due: mypy

ENH: extract `split_dependency_definition()`
  src/compwa_policy/check_dev_files/pixi.py
  src/compwa_policy/utilities/python.py
Due: mypy

ENH: switch to `pre-commit-uv`
  pyproject.toml
  src/compwa_policy/check_dev_files/precommit.py
Due: mypy

ENH: switch to `pre-commit-uv` (#411)
  pyproject.toml
  src/compwa_policy/check_dev_files/pixi.py
  src/compwa_policy/check_dev_files/precommit.py
  src/compwa_policy/utilities/python.py
Due: mypy

BEHAVIOR: switch to `ubuntu-24.04`
  .github/workflows/clean-caches.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sync-labels.yml
  src/compwa_policy/.github/workflows/cd.yml
  src/compwa_policy/check_dev_files/readthedocs.py
  tests/check_dev_files/readthedocs/extend/.readthedocs-good.yml
  tests/check_dev_files/readthedocs/overwrite/.readthedocs-good.yml
  tests/check_dev_files/readthedocs/test_readthedocs.py
Due: mypy

BEHAVIOR: switch to `ubuntu-24.04` (#414)
  .github/workflows/clean-caches.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sync-labels.yml
  src/compwa_policy/.github/workflows/cd.yml
  src/compwa_policy/check_dev_files/readthedocs.py
  tests/check_dev_files/readthedocs/extend/.readthedocs-good.yml
  tests/check_dev_files/readthedocs/overwrite/.readthedocs-good.yml
  tests/check_dev_files/readthedocs/test_readthedocs.py
Due: mypy

MAINT: update pyright pre-commit hook URL
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/pyright.py
  tests/check_dev_files/pyright/.pre-commit-config-good.yaml
Due: self-check, mypy

Path conditions:
  self-check: any of: ^\.pre\-commit\-(config|hooks)\.yaml$
  mypy: any of: \.py$
