Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: self-check, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "MAINT: autoupdate pre-commit hooks"
  autoupdate_schedule: quarterly
  skip:
    - check-dev-files
    - mypy
    - prettier
    - pyright
    - self-check
    - taplo

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-dev-files
        name: Check developer config files in the repository
        entry: check-dev-files
        language: python
        always_run: true
        pass_filenames: false
        args:
          - --allow-labels
          - --dependabot=update
          - --no-notebooks
          - --no-prettierrc
          - --no-pypi
          - --repo-name=policy
          - --repo-title=ComPWA repository policy

      - id: self-check
        name: self-check
        entry: self-check
        language: python
        files: ^\.pre\-commit\-(config|hooks)\.yaml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier

  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.8.1
    hooks:
      - id: taplo

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.23.1
    hooks:
      - id: toml-sort
        args: [--in-place]
        exclude: (?x)^(labels/.*\.toml)$

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.9.0
    hooks:
      - id: cspell

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.3
    hooks:
      - id: editorconfig-checker
        name: editorconfig
        alias: ec
        exclude: >-
          (?x)^(
            .*\.py
          )$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types:
          - python

  - repo: https://github.com/ComPWA/mirrors-pyright
    rev: v1.1.369
    hooks:
      - id: pyright

MAINT: update pyright pre-commit hook URL (#413)
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/pyright.py
  tests/check_dev_files/pyright/.pre-commit-config-good.yaml
Due: self-check, mypy

BEHAVIOR: use Python 3.12 in developer environment
  environment.yml
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/github_workflows.py
  tests/check_dev_files/readthedocs/extend/.readthedocs-good.yml
  tests/check_dev_files/readthedocs/overwrite/.readthedocs-good.yml
  tests/check_dev_files/readthedocs/test_readthedocs.py
Due: mypy

BEHAVIOR: use Python 3.12 in developer environment (#415)
  environment.yml
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/github_workflows.py
  tests/check_dev_files/readthedocs/extend/.readthedocs-good.yml
  tests/check_dev_files/readthedocs/overwrite/.readthedocs-good.yml
  tests/check_dev_files/readthedocs/test_readthedocs.py
Due: mypy

BREAK: remove redundant `extract_config_section()` function
  src/compwa_policy/utilities/cfg.py
Due: mypy

BREAK: remove redundant `extract_config_section()` function (#416)
  src/compwa_policy/utilities/cfg.py
Due: mypy

DX: remove `pydeps` support
  pyproject.toml
  tox.ini
Due: none

MAINT: share `passenv` through base environment
  tox.ini
Due: none

MAINT: write CLI flags with `=` sign
  tox.ini
Due: none

DX: run `cov` instead of `py` in `tox` CI
  tox.ini
Due: none

DX: run `linkcheck` in `tox` CI job
  tox.ini
Due: none

FIX: start `sphinx-autobuild` on random available port
  tox.ini
Due: none

DX: disable Sphinx warnings in `linkcheck` job
  tox.ini
Due: none

MAINT: remove `FORCE_COLOR` from `tox`
  tox.ini
Due: none

MAINT: move `description` on one line
  tox.ini
Due: none

MAINT: use `--ignore` instead of `--re-ignore` where possible
  tox.ini
Due: none

ENH: read Tox config from `tox.ini` or `pyproject.toml`
  src/compwa_policy/check_dev_files/pixi.py
  src/compwa_policy/check_dev_files/tox.py
Due: mypy

FEAT: merge `tox.ini` into `pyproject.toml`
  .cspell.json
  pyproject.toml
  src/compwa_policy/check_dev_files/tox.py
  src/compwa_policy/utilities/toml.py
  tox.ini
Due: mypy

FEAT: merge `tox.ini` into `pyproject.toml` (#417)
  .cspell.json
  pyproject.toml
  src/compwa_policy/check_dev_files/pixi.py
  src/compwa_policy/check_dev_files/tox.py
  src/compwa_policy/utilities/toml.py
  tox.ini
Due: mypy

DX: run label sync on Python 3.12
  .github/workflows/sync-labels.yml
Due: none

MAINT: drop support for Python 3.7 and 3.8
  pyproject.toml
  src/compwa_policy/check_dev_files/pyupgrade.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/utilities/pyproject/__init__.py
Due: mypy

MAINT: modernize Python syntax to Python 3.9
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/cspell.py
  src/compwa_policy/check_dev_files/precommit.py
  src/compwa_policy/check_dev_files/prettier.py
  src/compwa_policy/check_dev_files/pytest.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/colab_toc_visible.py
  src/compwa_policy/fix_nbformat_version.py
  src/compwa_policy/remove_empty_tags.py
  src/compwa_policy/set_nb_cells.py
  src/compwa_policy/utilities/cfg.py
  src/compwa_policy/utilities/precommit/struct.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/_struct.py
  src/compwa_policy/utilities/pyproject/setters.py
  src/compwa_policy/utilities/toml.py
  src/compwa_policy/utilities/vscode.py
  tests/check_dev_files/editorconfig/test_editorconfig.py
  tests/check_dev_files/pyright/test_pyright.py
  tests/check_dev_files/test_cspell.py
  tests/check_dev_files/test_pixi.py
  tests/utilities/precommit/test_class.py
Due: mypy

MAINT: modernize Python syntax to Python 3.9
  src/compwa_policy/check_dev_files/conda.py
  src/compwa_policy/check_dev_files/dependabot.py
  src/compwa_policy/check_dev_files/update_pip_constraints.py
  src/compwa_policy/utilities/precommit/struct.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/_struct.py
  src/compwa_policy/utilities/pyproject/getters.py
Due: mypy

MAINT: switch to single quotation marks for sorting
  pyproject.toml
Due: none

MAINT: drop Python 3.7 & 3.8 support due to EOL (#418)
  .github/workflows/sync-labels.yml
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/conda.py
  src/compwa_policy/check_dev_files/cspell.py
  src/compwa_policy/check_dev_files/dependabot.py
  src/compwa_policy/check_dev_files/precommit.py
  src/compwa_policy/check_dev_files/prettier.py
  src/compwa_policy/check_dev_files/pytest.py
  src/compwa_policy/check_dev_files/pyupgrade.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/check_dev_files/update_pip_constraints.py
  src/compwa_policy/colab_toc_visible.py
  src/compwa_policy/fix_nbformat_version.py
  src/compwa_policy/remove_empty_tags.py
  src/compwa_policy/set_nb_cells.py
  src/compwa_policy/utilities/cfg.py
  src/compwa_policy/utilities/precommit/struct.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/_struct.py
  src/compwa_policy/utilities/pyproject/getters.py
  src/compwa_policy/utilities/pyproject/setters.py
  src/compwa_policy/utilities/toml.py
  src/compwa_policy/utilities/vscode.py
  tests/check_dev_files/editorconfig/test_editorconfig.py
  tests/check_dev_files/pyright/test_pyright.py
  tests/check_dev_files/test_cspell.py
  tests/check_dev_files/test_pixi.py
  tests/utilities/precommit/test_class.py
Due: mypy

ENH: remove post-version from dynamic version
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pixi.py
  src/compwa_policy/check_dev_files/setuptools_scm.py
Due: mypy

ENH: remove post-version from dynamic version (#419)
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pixi.py
  src/compwa_policy/check_dev_files/setuptools_scm.py
Due: mypy

FIX: remove PyPI job if `--no-pypi`
  src/compwa_policy/check_dev_files/github_workflows.py
Due: mypy

ENH: remove classifiers if `--no-pypi`
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pyproject.py
  src/compwa_policy/utilities/pyproject/getters.py
Due: mypy

FEAT: autoupdate Python version classifiers
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pyproject.py
  src/compwa_policy/utilities/pyproject/getters.py
Due: mypy

FIX: only insert YAML if uncommented
  src/compwa_policy/utilities/precommit/setters.py
Due: mypy

FIX: only sort `str`
  src/compwa_policy/check_dev_files/cspell.py
Due: mypy

FIX: add newline after last hook
  src/compwa_policy/utilities/precommit/setters.py
Due: mypy

ENH: clean up classifiers and workflows if `--no-pypi` (#422)
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/cspell.py
  src/compwa_policy/check_dev_files/github_workflows.py
  src/compwa_policy/check_dev_files/pyproject.py
  src/compwa_policy/utilities/precommit/setters.py
  src/compwa_policy/utilities/pyproject/getters.py
Due: mypy

ENH: detect automatically if repo has notebooks
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/__init__.py
Due: self-check, mypy

BREAK: detect automatically if repo has notebooks (#423)
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/__init__.py
Due: self-check, mypy

MAINT: remove Pixi from `.gitattributes`
  .cspell.json
  .gitattributes
  src/compwa_policy/check_dev_files/pixi.py
Due: mypy

MAINT: convert `pixi.py` to sub-module
  src/compwa_policy/check_dev_files/pixi/__init__.py
Due: mypy

BEHAVIOR: use `uv` as default package manager
  .envrc
  .vscode/settings.json
  environment.yml
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
Due: mypy

MAINT: split `pixi` sub-module
  src/compwa_policy/check_dev_files/pixi/__init__.py
  src/compwa_policy/check_dev_files/pixi/_helpers.py
  src/compwa_policy/check_dev_files/pixi/_remove.py
  src/compwa_policy/check_dev_files/pixi/_update.py
  tests/check_dev_files/test_pixi.py
Due: mypy

ENH: create dedicated `.envrc` for `uv`
  .envrc
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/direnv.py
Due: mypy
