Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: self-check, mypy

self-check:
  name: self-check
  entry: self-check
  language: python

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

MAINT: simplify round-trip guards
  src/compwa_policy/format/precommit.py
  src/compwa_policy/utilities/precommit/setters.py
  tests/utilities/precommit/test_setters.py
Due: mypy

MAINT: reduce diff
  tests/utilities/precommit/test_setters.py
Due: mypy

FIX: make test independent of `FORCE_COLOR`
  tests/cli/test_bootstrap.py
Due: mypy

FIX: keep `repos` round-trippable when sorting (#675)
  src/compwa_policy/cli/bootstrap.py
  src/compwa_policy/format/precommit.py
  src/compwa_policy/utilities/precommit/setters.py
  tests/cli/test_bootstrap.py
  tests/format/test_precommit.py
  tests/utilities/precommit/test_setters.py
Due: mypy

MAINT: upgrade lock files
  .pre-commit-config.yaml
Due: self-check

MAINT: update Ruff comments
  .cspell.json
  docs/conf.py
  src/compwa_policy/cli/__init__.py
  src/compwa_policy/cli/_checks.py
  src/compwa_policy/cli/env.py
  src/compwa_policy/cli/github.py
  src/compwa_policy/cli/nb.py
  src/compwa_policy/cli/python.py
  src/compwa_policy/env/pixi/_remove.py
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/env/uv.py
  src/compwa_policy/errors.py
  src/compwa_policy/format/cspell.py
  src/compwa_policy/format/precommit.py
  src/compwa_policy/github/dependabot.py
  src/compwa_policy/github/workflows.py
  src/compwa_policy/python/mypy.py
  src/compwa_policy/python/pyright.py
  src/compwa_policy/python/ruff.py
  src/compwa_policy/python/ty.py
  src/compwa_policy/repo/poe.py
  src/compwa_policy/self_check.py
  src/compwa_policy/utilities/__init__.py
  src/compwa_policy/utilities/cfg.py
  src/compwa_policy/utilities/match.py
  src/compwa_policy/utilities/precommit/getters.py
  src/compwa_policy/utilities/precommit/setters.py
  src/compwa_policy/utilities/precommit/struct.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/setters.py
  src/compwa_policy/utilities/python.py
  src/compwa_policy/utilities/readme.py
  src/compwa_policy/utilities/session.py
  src/compwa_policy/utilities/vscode.py
  src/compwa_policy/utilities/yaml.py
  tests/conftest.py
Due: mypy

BEHAVIOR: adapt to Ruff v0.16
  pyproject.toml
  src/compwa_policy/python/ruff.py
  tests/python/test_ruff.py
Due: mypy

MAINT: minor formatting improvements
  docs/conf.py
  pyproject.toml
  src/compwa_policy/python/ruff.py
Due: mypy

BEHAVIOR: disable `builtin-variable-shadowing` in `conf.py` by default
  src/compwa_policy/python/ruff.py
Due: mypy

BEHAVIOR: use Ruff rule names, not codes (#677)
  .cspell.json
  .pre-commit-config.yaml
  docs/conf.py
  pyproject.toml
  src/compwa_policy/cli/__init__.py
  src/compwa_policy/cli/_checks.py
  src/compwa_policy/cli/env.py
  src/compwa_policy/cli/github.py
  src/compwa_policy/cli/nb.py
  src/compwa_policy/cli/python.py
  src/compwa_policy/env/pixi/_remove.py
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/env/uv.py
  src/compwa_policy/errors.py
  src/compwa_policy/format/cspell.py
  src/compwa_policy/format/precommit.py
  src/compwa_policy/github/dependabot.py
  src/compwa_policy/github/workflows.py
  src/compwa_policy/python/mypy.py
  src/compwa_policy/python/pyright.py
  src/compwa_policy/python/ruff.py
  src/compwa_policy/python/ty.py
  src/compwa_policy/repo/poe.py
  src/compwa_policy/self_check.py
  src/compwa_policy/utilities/__init__.py
  src/compwa_policy/utilities/cfg.py
  src/compwa_policy/utilities/match.py
  src/compwa_policy/utilities/precommit/getters.py
  src/compwa_policy/utilities/precommit/setters.py
  src/compwa_policy/utilities/precommit/struct.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/setters.py
  src/compwa_policy/utilities/python.py
  src/compwa_policy/utilities/readme.py
  src/compwa_policy/utilities/session.py
  src/compwa_policy/utilities/vscode.py
  src/compwa_policy/utilities/yaml.py
  tests/conftest.py
  tests/python/test_ruff.py
Due: self-check, mypy

FIX: do not set `language_version` in cspell hook
  .pre-commit-config.yaml
  src/compwa_policy/format/cspell.py
  tests/format/test_precommit.py
Due: self-check, mypy

FIX: do not set `language_version` in cspell hook (#679)
  .pre-commit-config.yaml
  src/compwa_policy/format/cspell.py
  tests/format/test_precommit.py
Due: self-check, mypy

BEHAVIOR: preserve downstream action versions
  src/compwa_policy/github/release_drafter.py
  src/compwa_policy/github/workflows.py
  tests/github/test_workflows.py
Due: mypy

FEAT: update `linkcheck` job for Quarto projects
  src/compwa_policy/repo/poe.py
  src/compwa_policy/utilities/toml.py
  tests/repo/test_poe.py
Due: mypy

FIX: use correct shell command
  src/compwa_policy/repo/poe.py
  tests/repo/test_poe.py
Due: mypy

ENH: install `lychee-bin` into dev dependencies
  src/compwa_policy/repo/poe.py
  tests/repo/test_poe.py
Due: mypy

ENH: implement `lychee` for Pixi, too
  src/compwa_policy/env/pixi/__init__.py
  src/compwa_policy/env/pixi/_update.py
  tests/test_pixi.py
Due: mypy

FIX: expand Poe task shorthand notations before reading
  src/compwa_policy/repo/poe.py
  tests/repo/test_poe.py
Due: mypy

FIX: look up dependencies in the group that runs the task
  src/compwa_policy/repo/poe.py
  src/compwa_policy/utilities/pyproject/__init__.py
  tests/repo/test_poe.py
Due: mypy

FIX: match lychee in commands defined as an array
  src/compwa_policy/repo/poe.py
  tests/repo/test_poe.py
Due: mypy

FIX: only configure lychee for Quarto-documented repositories
  src/compwa_policy/characterization.py
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/repo/poe.py
  tests/cli/test_checks.py
  tests/conftest.py
  tests/repo/test_poe.py
  tests/test_characterization.py
Due: mypy

MAINT: drop unreachable comparison in linkcheck policy
  src/compwa_policy/repo/poe.py
Due: mypy

BEHAVIOR: preserve downstream action versions (#683)
  src/compwa_policy/github/release_drafter.py
  src/compwa_policy/github/workflows.py
  tests/github/test_workflows.py
Due: mypy

FEAT: use `lychee` for `linkcheck` in Quarto repos (#681)
  src/compwa_policy/characterization.py
  src/compwa_policy/env/pixi/__init__.py
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/repo/poe.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/toml.py
  tests/cli/test_checks.py
  tests/conftest.py
  tests/repo/test_poe.py
  tests/test_characterization.py
  tests/test_pixi.py
Due: mypy

ENH: make release tag prefix configurable
  compwa-policy.schema.json
  src/compwa_policy/__init__.py
  src/compwa_policy/cli/_options.py
  src/compwa_policy/cli/_settings.py
  src/compwa_policy/cli/github.py
  src/compwa_policy/cli/migrate.py
  src/compwa_policy/github/release_drafter.py
  tests/github/test_release_drafter.py
  tests/test_cli.py
Due: mypy

MAINT: use Jinja for release drafter
  .cspell.json
  src/compwa_policy/.github/release-drafter.yml.jinja
  src/compwa_policy/github/release_drafter.py
  tests/github/test_release_drafter.py
Due: mypy

ENH: make release tag prefix configurable (#686)
  .cspell.json
  compwa-policy.schema.json
  src/compwa_policy/.github/release-drafter.yml.jinja
  src/compwa_policy/__init__.py
  src/compwa_policy/cli/_options.py
  src/compwa_policy/cli/_settings.py
  src/compwa_policy/cli/github.py
  src/compwa_policy/cli/migrate.py
  src/compwa_policy/github/release_drafter.py
  tests/github/test_release_drafter.py
  tests/test_cli.py
Due: mypy

FIX: resolve generated action references to self
  src/compwa_policy/github/workflows.py
  tests/github/test_workflows.py
Due: mypy

ENH: pin SHA of GitHub Actions workflows
  .github/workflows/benchmark.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clean-caches.yml
  .github/workflows/lock.yml
  .github/workflows/pr-linting.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sync-labels.yml
  src/compwa_policy/github/workflows.py
  tests/github/test_workflows.py
Due: mypy

MAINT: bump ComPWA/actions pin to 4.0.2
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clean-caches.yml
  .github/workflows/lock.yml
  .github/workflows/pr-linting.yml
Due: none

FIX: resolve generated action references to self (#688)
  .github/workflows/benchmark.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clean-caches.yml
  .github/workflows/lock.yml
  .github/workflows/pr-linting.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sync-labels.yml
  src/compwa_policy/github/workflows.py
  tests/github/test_workflows.py
Due: mypy

ENH: make Release Drafter name template configurable
  compwa-policy.schema.json
  src/compwa_policy/__init__.py
  src/compwa_policy/cli/_options.py
  src/compwa_policy/cli/_settings.py
  src/compwa_policy/cli/github.py
  src/compwa_policy/github/release_drafter.py
  tests/github/test_release_drafter.py
  tests/test_cli.py
Due: mypy

FEAT: configurable release name template (#690)
  compwa-policy.schema.json
  src/compwa_policy/__init__.py
  src/compwa_policy/cli/_options.py
  src/compwa_policy/cli/_settings.py
  src/compwa_policy/cli/github.py
  src/compwa_policy/github/release_drafter.py
  tests/github/test_release_drafter.py
  tests/test_cli.py
Due: mypy

DX: use `ComPWA/policy@` prefix in release titles
  .github/release-drafter.yml
  pyproject.toml
Due: none

DX: use `ComPWA/policy@` prefix in release titles (#691)
  .github/release-drafter.yml
  pyproject.toml
Due: none

DX: title releases by version only
  .github/release-drafter.yml
  pyproject.toml
Due: none

DX: title releases by version only (#693)
  .github/release-drafter.yml
  pyproject.toml
Due: none

DOC: fix `.pre-commit-config.yaml` extension in CLI help
  src/compwa_policy/cli/_options.py
Due: mypy

Path conditions:
  self-check: any of: ^\.pre\-commit\-(config|hooks)\.yaml$
  mypy: any of: \.py$
