Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: self-check, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "MAINT: autoupdate pre-commit hooks"
  autoupdate_schedule: quarterly
  skip:
    - check-dev-files
    - mypy
    - prettier
    - pyright
    - self-check
    - taplo

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-dev-files
        name: Check developer config files in the repository
        entry: check-dev-files
        language: python
        always_run: true
        pass_filenames: false
        args:
          - --allow-labels
          - --dependabot=update
          - --no-notebooks
          - --no-prettierrc
          - --no-pypi
          - --repo-name=policy
          - --repo-title=ComPWA repository policy

      - id: self-check
        name: self-check
        entry: self-check
        language: python
        files: ^\.pre\-commit\-(config|hooks)\.yaml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier

  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.8.1
    hooks:
      - id: taplo

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.23.1
    hooks:
      - id: toml-sort
        args: [--in-place]
        exclude: (?x)^(labels/.*\.toml)$

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.9.0
    hooks:
      - id: cspell

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.3
    hooks:
      - id: editorconfig-checker
        name: editorconfig
        alias: ec
        exclude: >-
          (?x)^(
            .*\.py
          )$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types:
          - python

  - repo: https://github.com/ComPWA/mirrors-pyright
    rev: v1.1.369
    hooks:
      - id: pyright

FIX: avoid `itertools.pairwise` call on Python 3.9
  pyproject.toml
  src/compwa_policy/utilities/pyproject/setters.py
Due: mypy

FIX: avoid Python 3.10 syntax (#492)
  pyproject.toml
  src/compwa_policy/utilities/pyproject/_struct.py
  src/compwa_policy/utilities/pyproject/setters.py
Due: mypy

BEHAVIOR: remove `setuptools-scm` config check (#491)
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/setuptools_scm.py
Due: mypy

MAINT: remove `pygments` version constraint
  pyproject.toml
Due: none

MAINT: remove `pygments` version constraint (#494)
  pyproject.toml
Due: none

ENH: add `TYPE_CHECKING` to coverage excludes
  src/compwa_policy/check_dev_files/pytest.py
  src/compwa_policy/utilities/pyproject/__init__.py
Due: mypy

ENH: exclude `TYPE_CHECKING` from test coverage
  codecov.yml
  pyproject.toml
  src/compwa_policy/check_dev_files/pytest.py
  src/compwa_policy/utilities/pyproject/__init__.py
Due: mypy

ENH: exclude `TYPE_CHECKING` from test coverage (#497)
  codecov.yml
  pyproject.toml
  src/compwa_policy/check_dev_files/pytest.py
  src/compwa_policy/utilities/pyproject/__init__.py
Due: mypy

DX: run tests in `tox` on all Python versions
  pyproject.toml
Due: none

FIX: do not run tests over `docs/conf.py`
  pyproject.toml
Due: none

DX: do not show summary in `tox -e py` job
  pyproject.toml
Due: none

DX: run tests with all python versions through Tox (#498)
  pyproject.toml
Due: none

FEAT: always overwrite kernel name to "Python 3 (ipykernel)"
  .cspell.json
  .pre-commit-hooks.yaml
  pyproject.toml
  src/compwa_policy/check_dev_files/precommit.py
  src/compwa_policy/set_nb_display_name.py
Due: self-check, mypy

FIX: remove description
  .pre-commit-hooks.yaml
Due: self-check

ENH: always overwrite kernel name to "Python 3 (ipykernel)" (#499)
  .cspell.json
  .pre-commit-hooks.yaml
  pyproject.toml
  src/compwa_policy/check_dev_files/precommit.py
  src/compwa_policy/set_nb_display_name.py
Due: self-check, mypy

ENH: update Tox labels and `env_list`
  src/compwa_policy/check_dev_files/tox.py
Due: mypy

ENH: respect `--excluded-python-versions` in Tox update
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/tox.py
Due: mypy

ENH: update Tox labels and env_list (#500)
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/tox.py
Due: mypy

BEHAVIOR: add Pyton 3.13 to version classifiers
  pyproject.toml
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/getters.py
Due: mypy

BEHAVIOR: add Pyton 3.13 to version classifiers (#501)
  pyproject.toml
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/getters.py
Due: mypy

FIX: install `tox-uv` on RTD
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

FIX: install `tox-uv` on RTD (#502)
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

ENH: set Pyright venv to `.venv`
  src/compwa_policy/check_dev_files/pyright.py
  tests/check_dev_files/pyright/test_pyright.py
Due: mypy

FIX: force `ModifiablePyproject` to be non-slotted
  src/compwa_policy/utilities/pyproject/__init__.py
Due: mypy

FIX: force `ModifiablePyproject` to be non-slotted (#504)
  src/compwa_policy/utilities/pyproject/__init__.py
Due: mypy

ENH: set Pyright venv to `.venv` (#503)
  src/compwa_policy/check_dev_files/pyright.py
  tests/check_dev_files/pyright/test_pyright.py
Due: mypy

ENH: add or remove `nbstripout` depending on `has_notebooks`
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/nbstripout.py
Due: mypy

ENH: add or remove `nbstripout` depending on `has_notebooks` (#505)
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/nbstripout.py
Due: mypy

ENH: add badges if `README.md` contains title only
  src/compwa_policy/utilities/readme.py
Due: mypy

FIX: add badges if `README.md` contains title only (#506)
  src/compwa_policy/utilities/readme.py
Due: mypy

FIX: set correct ignore patterns for `sphinx-autobuild`
  pyproject.toml
Due: none

ENH: set Python path to `.venv/bin/python`
  .vscode/settings.json
  src/compwa_policy/check_dev_files/vscode.py
Due: mypy

ENH: remove `excludes` from Pyright config
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pyright.py
Due: mypy

MAINT: update lock files
  .pre-commit-config.yaml
Due: self-check

BREAK: rename `--no-macos` to `--macos-python-version`
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/github_workflows.py
Due: mypy

BEHAVIOR: run MacOS tests on Python 3.10 by default
  .github/workflows/ci.yml
  src/compwa_policy/check_dev_files/__init__.py
Due: mypy

ENH: remove `excludes` from Pyright config (#510)
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pyright.py
Due: mypy

ENH: set Python path to `.venv/bin/python` (#509)
  .vscode/settings.json
  src/compwa_policy/check_dev_files/vscode.py
Due: mypy

DX: set correct ignore paths for `sphinx-autobuild` (#507)
  .pre-commit-config.yaml
  pyproject.toml
Due: self-check
