Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: self-check, mypy

self-check:
  name: self-check
  entry: self-check
  language: python

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

ENH: remove redundant settings from RTD if `uv` and/or Pixi
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

ENH: install `asdf` plugins in `build.commands`
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

ENH: install `graphviz` through `pixi` if in `apt`
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

ENH: update Sphinx build step
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

ENH: install `uv` and `graphviz` with Pixi
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

ENH: run Pixi in single command
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

FIX: create `$READTHEDOCS_OUTPUT` before moving
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

ENH: update RTD config for `uv` or `pixi` manager (#425)
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

MAINT: remove redundant `required=False`
  src/compwa_policy/check_dev_files/__init__.py
Due: mypy

ENH: determine `--repo-name` if unavailable
  src/compwa_policy/check_dev_files/__init__.py
Due: mypy

ENH: determine `--repo-name` if unavailable (#426)
  src/compwa_policy/check_dev_files/__init__.py
Due: mypy

BREAK: remove `--no-prettierrc` flag
  .cspell.json
  .pre-commit-config.yaml
  .vscode/settings.json
  src/compwa_policy/.template/.cspell.json
  src/compwa_policy/.template/.prettierrc
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/prettier.py
  src/compwa_policy/utilities/__init__.py
Due: self-check, mypy

BREAK: remove `--no-prettierrc` flag (#427)
  .cspell.json
  .pre-commit-config.yaml
  .vscode/settings.json
  src/compwa_policy/.template/.cspell.json
  src/compwa_policy/.template/.prettierrc
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/prettier.py
  src/compwa_policy/utilities/__init__.py
Due: self-check, mypy

MAINT: simplify code with `read_yaml()` function
  src/compwa_policy/check_dev_files/black.py
  src/compwa_policy/check_dev_files/pyupgrade.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/check_dev_files/toml.py
  src/compwa_policy/utilities/yaml.py
Due: mypy

FIX: do not link to `ruamel.yaml`
  src/compwa_policy/utilities/yaml.py
Due: mypy

MAINT: extract function for `YAML(typ="rt").load` (#428)
  src/compwa_policy/check_dev_files/black.py
  src/compwa_policy/check_dev_files/pyupgrade.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/check_dev_files/toml.py
  src/compwa_policy/utilities/yaml.py
Due: mypy

ENH: remove `uv` settings if not package manager
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

ENH: remove `uv` settings if not package manager (#429)
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

ENH: remove `uv-lock` hook if no tracked `uv.lock`
  .gitignore
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/uv.py
  uv.lock
Due: self-check, mypy

ENH: remove `uv-lock` hook if no tracked `uv.lock` (#431)
  .gitignore
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/uv.py
  uv.lock
Due: self-check, mypy

BREAK: remove `setup.cfg` support
  src/compwa_policy/.github/workflows/requirements.yml
  src/compwa_policy/.template/.cspell.json
  src/compwa_policy/check_dev_files/conda.py
  src/compwa_policy/check_dev_files/github_labels.py
  src/compwa_policy/check_dev_files/github_workflows.py
  src/compwa_policy/check_dev_files/jupyter.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/utilities/__init__.py
  src/compwa_policy/utilities/pyproject/__init__.py
Due: mypy

BREAK: remove `setup.cfg` support (#432)
  src/compwa_policy/.github/workflows/requirements.yml
  src/compwa_policy/.template/.cspell.json
  src/compwa_policy/check_dev_files/conda.py
  src/compwa_policy/check_dev_files/github_labels.py
  src/compwa_policy/check_dev_files/github_workflows.py
  src/compwa_policy/check_dev_files/jupyter.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/utilities/__init__.py
  src/compwa_policy/utilities/pyproject/__init__.py
Due: mypy

MAINT: switch to ComPWA/actions@v2
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clean-caches.yml
  .github/workflows/pr-linting.yml
  src/compwa_policy/.github/workflows/cd.yml
  src/compwa_policy/.github/workflows/ci.yml
  src/compwa_policy/.github/workflows/requirements.yml
Due: none

FIX: make `additional-extras` space-separated
  src/compwa_policy/check_dev_files/github_workflows.py
Due: mypy

ENH: switch to ComPWA/actions@v2 (#430)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clean-caches.yml
  .github/workflows/pr-linting.yml
  src/compwa_policy/.github/workflows/cd.yml
  src/compwa_policy/.github/workflows/ci.yml
  src/compwa_policy/.github/workflows/requirements.yml
  src/compwa_policy/check_dev_files/github_workflows.py
Due: mypy

FIX: do not load `pyproject.toml` if non-existent
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

FIX: do not load `pyproject.toml` if non-existent (#433)
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

FEAT: add `--no-milestone` flag to `check-dev-files`
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/github_workflows.py
Due: mypy

FEAT: add `--no-milestone` flag to `check-dev-files` (#434)
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/github_workflows.py
Due: mypy

BREAK: rename requirements workflow to update lock
  src/compwa_policy/.github/workflows/lock.yml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/update_lock.py
Due: mypy

BREAK: rename requirements workflow to update lock (#435)
  src/compwa_policy/.github/workflows/lock.yml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/update_lock.py
Due: mypy

BEHAVIOR: add update lock files by default
  .github/workflows/lock.yml
  src/compwa_policy/check_dev_files/__init__.py
Due: mypy

FIX: always update trigger paths
  .github/workflows/lock.yml
  src/compwa_policy/check_dev_files/update_lock.py
Due: mypy

TEMP: trigger update lock files
  .pre-commit-config.yaml
Due: self-check

DX: rename workflow to "Update"
  .github/workflows/lock.yml
  src/compwa_policy/.github/workflows/lock.yml
Due: none

MAINT: update lock files
  .pre-commit-config.yaml
Due: self-check

BEHAVIOR: update lock files by default (#436)
  .github/workflows/lock.yml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/update_lock.py
Due: mypy

FEAT: add `--no-cd` flag
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/github_workflows.py
Due: mypy

ENH: remove release drafter if `--no-cd`
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/github_workflows.py
  src/compwa_policy/check_dev_files/release_drafter.py
Due: mypy

FEAT: add `--no-cd` flag (#437)
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/github_workflows.py
  src/compwa_policy/check_dev_files/release_drafter.py
Due: mypy

Path conditions:
  self-check: any of: ^\.pre\-commit\-(config|hooks)\.yaml$
  mypy: any of: \.py$
