Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-setup-cfg, repoma-self-check, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "MAINT: autoupdate pre-commit hooks"
  autoupdate_schedule: quarterly
  skip:
    - check-dev-files
    - format-setup-cfg
    - mypy
    - pyright
    - repoma-self-check
    - taplo

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-dev-files
        name: Check developer config files in the repository
        entry: check-dev-files
        language: python
        always_run: true
        pass_filenames: false
        args:
          - --allow-labels
          - --no-pypi
          - --repo-name=repo-maintenance
          - --repo-title=ComPWA Repository Maintenance

      - id: format-setup-cfg
        name: Format setup.cfg
        entry: format-setup-cfg
        language: python
        files: ^setup.cfg$

      - id: repoma-self-check
        name: repoma-self-check
        entry: repoma-self-check
        language: python
        files: ^\.pre\-commit\-(config|hooks)\.yaml$

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.13.0
    hooks:
      - id: blacken-docs

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.31.0
    hooks:
      - id: cspell

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.1
    hooks:
      - id: editorconfig-checker
        name: editorconfig
        alias: ec
        exclude: >-
          (?x)^(
            .*\.py
          )$

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types:
          - python

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier

  - repo: https://github.com/ComPWA/mirrors-pyright
    rev: v1.1.307
    hooks:
      - id: pyright

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args:
          - --py36-plus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.275
    hooks:
      - id: ruff
        args:
          - --fix

  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.8.0
    hooks:
      - id: taplo

MAINT: remove `extract_extensions_test`
  tests/check_dev_files/test_gitpod.py
Due: mypy

FIX: ignore `jsonschema` deprecation warning
  pyproject.toml
Due: none

MAINT: autoupdate pre-commit hooks
  .pre-commit-config.yaml
Due: repoma-self-check

DX: recommend and configure VSCode mypy extension (#153)
  .gitpod.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
  src/repoma/check_dev_files/mypy.py
  tests/check_dev_files/test_gitpod.py
Due: repoma-self-check, mypy

FIX: only recommend VSCode mypy extension if mypy config
  src/repoma/check_dev_files/mypy.py
Due: mypy

DX: make mypy extension unwanted if no mypy config
  src/repoma/check_dev_files/mypy.py
Due: mypy

FEAT: add optionn to run pytest single-threaded
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/github_workflows.py
Due: mypy

FEAT: add optionn to run pytest single-threaded (#154)
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/github_workflows.py
Due: mypy

DX: specify config file for mypy in VSCode
  .vscode/settings.json
  src/repoma/check_dev_files/mypy.py
Due: mypy

DX: specify config file for mypy in VSCode (#155)
  .vscode/settings.json
  src/repoma/check_dev_files/mypy.py
Due: mypy

ENH: add more outdated settings
  src/repoma/check_dev_files/vscode.py
Due: mypy

MAINT: sync GitHub issue labels for ComPWA/update-pip-constraints
  .github/workflows/sync-labels.yml
  labels.toml
Due: none

FIX: do not uninstall if no `setup.cfg`
  src/repoma/check_dev_files/deprecated.py
Due: mypy

MAINT: add permissions `id-token` to `doc` job
  src/repoma/.github/workflows/ci.yml
Due: none

MAINT: add permissions `id-token` to `doc` job (#156)
  src/repoma/.github/workflows/ci.yml
Due: none

FEAT: define local directory for notebook dependencies
  src/repoma/pin_nb_requirements.py
  src/repoma/set_nb_cells.py
  src/repoma/utilities/_notebook.py
Due: mypy

FIX: only set local environment if has pip install target
  src/repoma/set_nb_cells.py
Due: mypy

BEHAVIOR: run `set-nb-cells` over ADR folder
  .pre-commit-hooks.yaml
Due: repoma-self-check

MAINT: remove deprecated linter VSCode settings
  .vscode/settings.json
  src/repoma/check_dev_files/deprecated.py
  src/repoma/check_dev_files/mypy.py
  src/repoma/check_dev_files/vscode.py
Due: mypy

MAINT: remove deprecated linter VSCode settings (#159)
  .vscode/settings.json
  src/repoma/check_dev_files/deprecated.py
  src/repoma/check_dev_files/mypy.py
  src/repoma/check_dev_files/vscode.py
Due: mypy

MAINT: recommend `black` extension for vscode
  .gitpod.yml
  .vscode/extensions.json
  .vscode/settings.json
  src/repoma/check_dev_files/black.py
Due: mypy

MAINT: recommend `black` extension for vscode (#160)
  .gitpod.yml
  .vscode/extensions.json
  .vscode/settings.json
  src/repoma/check_dev_files/black.py
Due: mypy

DX: set Black extension as default formatter
  .vscode/settings.json
  src/repoma/check_dev_files/black.py
  src/repoma/utilities/vscode.py
Due: mypy

DX: set Black extension as default formatter (#161)
  .vscode/settings.json
  src/repoma/check_dev_files/black.py
  src/repoma/utilities/vscode.py
Due: mypy

FEAT: autoupdate pre-commit repo if `rev` is not provided
  pyproject.toml
  setup.cfg
  src/repoma/check_dev_files/ruff.py
  src/repoma/utilities/precommit.py
Due: format-setup-cfg, mypy

DX: enforce `CITATION.cff` config
  .cspell.json
  .vscode/settings.json
  setup.cfg
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/citation.py
  src/repoma/utilities/__init__.py
Due: format-setup-cfg, mypy

MAINT: extract `remove_zenodo_json()` function
  src/repoma/check_dev_files/citation.py
Due: mypy

FIX: split full name at space
  src/repoma/check_dev_files/citation.py
Due: mypy

BEHAVIOR: remove references
  src/repoma/check_dev_files/citation.py
Due: mypy

FEAT: autoupdate new pre-commit hooks
  pyproject.toml
  setup.cfg
  src/repoma/check_dev_files/ruff.py
  src/repoma/utilities/precommit.py
Due: format-setup-cfg, mypy

MAINT: revert `settings.json` sorting
  .vscode/settings.json
Due: none

DX: convert Zenodo to `CITATION.cff` config (#166)
  .cspell.json
  .vscode/settings.json
  setup.cfg
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/citation.py
  src/repoma/utilities/__init__.py
Due: format-setup-cfg, mypy

FIX: run `check-jsonschema` on GitHub Actions
  .cspell.json
  src/repoma/check_dev_files/precommit.py
Due: mypy

MAINT: remove `pycharm` from cell metadata
  src/repoma/check_dev_files/nbstripout.py
Due: mypy

DX: switch to `black-jupyter` hook
  .pre-commit-config.yaml
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/black.py
Due: repoma-self-check, mypy

FIX: run `black-jupyter` on Jupyter notbeooks only
  src/repoma/check_dev_files/black.py
  src/repoma/utilities/precommit.py
Due: mypy

MAINT: remove outdated `black` option for nbQA
  src/repoma/check_dev_files/deprecated.py
Due: mypy

DX: switch to `black-jupyter` pre-commit hook (#171)
  .pre-commit-config.yaml
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/deprecated.py
  src/repoma/utilities/precommit.py
Due: repoma-self-check, mypy

MAINT: remove `pycharm` from cell metadata (#172)
  src/repoma/check_dev_files/nbstripout.py
Due: mypy

DX: remove `markdownlint` support
  .gitignore
  .gitpod.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  src/repoma/check_dev_files/deprecated.py
Due: repoma-self-check, mypy
