Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: self-check, mypy

self-check:
  name: self-check
  entry: self-check
  language: python

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

BREAK: rename `--no-macos` to `--macos-python-version` (#508)
  .github/workflows/ci.yml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/github_workflows.py
Due: mypy

ENH: set kernel name to "Pyproject Local"
  src/compwa_policy/set_nb_display_name.py
Due: mypy

FIX: set kernel name to "Pyproject Local" (#511)
  src/compwa_policy/set_nb_display_name.py
Due: mypy

ENH: ignore Quarto extensions with cSpell
  src/compwa_policy/.template/.cspell.json
Due: none

ENH: ignore Quarto extensions with cSpell (#513)
  src/compwa_policy/.template/.cspell.json
Due: none

ENH: show coverage through native VS Code support
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
  src/compwa_policy/check_dev_files/pytest.py
  src/compwa_policy/utilities/cfg.py
  src/compwa_policy/utilities/vscode.py
Due: mypy

DX: do not use verbose pytest logs in vscode
  .vscode/settings.json
Due: none

MAINT: improve typing
  src/compwa_policy/utilities/vscode.py
Due: mypy

FIX: put comment on correct place
  src/compwa_policy/check_dev_files/pytest.py
Due: mypy

ENH: show coverage through native VS Code support (#516)
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
  src/compwa_policy/check_dev_files/pytest.py
  src/compwa_policy/utilities/cfg.py
  src/compwa_policy/utilities/vscode.py
Due: mypy

ENH: (un)install `pytest-xdist` depending on pre-commit config
  .cspell.json
  .vscode/settings.json
  src/compwa_policy/.template/.cspell.json
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pytest.py
Due: mypy

DX: remove `pytest-xdist`
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  pyproject.toml
Due: self-check

ENH: remove duplicate arguments
  src/compwa_policy/check_dev_files/pytest.py
Due: mypy

ENH: (un)install `pytest-xdist` depending on pre-commit config (#517)
  .cspell.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/compwa_policy/.template/.cspell.json
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pytest.py
Due: self-check, mypy

MAINT: update label order
  labels/default.toml
  labels/meeting.toml
  labels/physics.toml
Due: none

BEHAVIOR: require "⬆️ Lock" label for lock upgrades
  .github/dependabot.yml
  labels/default.toml
  labels/meeting.toml
  labels/physics.toml
Due: none

DX: add "⬆️ Lock" label for PRs with lock-file upgrades (#519)
  .github/dependabot.yml
  labels/default.toml
  labels/meeting.toml
  labels/physics.toml
Due: none

FIX: avoid syncing labels with archived repo
  .github/workflows/sync-labels.yml
Due: none

FIX: avoid syncing labels with archived repo (#520)
  .github/workflows/sync-labels.yml
Due: none

FIX: only update pytest config if `pytest` is installed
  src/compwa_policy/check_dev_files/pytest.py
Due: mypy

FIX: only update pytest config if `pytest` is installed (#521)
  src/compwa_policy/check_dev_files/pytest.py
Due: mypy

ENH: set pre-commit.ci `autofix_commit_msg`
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/precommit.py
Due: self-check, mypy

ENH: write "upgrade" instead of "update"
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/precommit.py
  tests/utilities/precommit/test_getters.py
Due: self-check, mypy

ENH: set commit message for pre-commit.ci autofixes (#522)
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/precommit.py
  tests/utilities/precommit/test_getters.py
Due: self-check, mypy

FIX: install `tox` as tool before running `uv`
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

FIX: install `tox` as tool before running `uv` (#518)
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

ENH: remove `mypy-type-checker.importStrategy`
  .vscode/settings.json
  src/compwa_policy/check_dev_files/mypy.py
Due: mypy

FIX: remove `mypy-type-checker.importStrategy` (#523)
  .vscode/settings.json
  src/compwa_policy/check_dev_files/mypy.py
Due: mypy

MAINT: update to ComPWA/actions@v3
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clean-caches.yml
  .github/workflows/lock.yml
  .github/workflows/pr-linting.yml
  src/compwa_policy/.github/workflows/cd.yml
  src/compwa_policy/.github/workflows/ci.yml
  src/compwa_policy/.github/workflows/lock.yml
Due: none

FEAT: replace `tox` with `poethepoet`
  .cspell.json
  .gitignore
  .taplo.toml
  CONTRIBUTING.md
  pyproject.toml
  src/compwa_policy/.template/.cspell.json
  src/compwa_policy/.template/.taplo.toml
  src/compwa_policy/.template/CONTRIBUTING.md.jinja
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pixi/__init__.py
  src/compwa_policy/check_dev_files/pixi/_update.py
  src/compwa_policy/check_dev_files/poe.py
  src/compwa_policy/check_dev_files/readthedocs.py
  src/compwa_policy/check_dev_files/toml.py
  src/compwa_policy/check_dev_files/tox.py
  src/compwa_policy/utilities/__init__.py
Due: mypy

BEHAVIOR: remove `venv` activation if `pixi` only
  src/compwa_policy/check_dev_files/direnv.py
Due: mypy

FIX: set correct Python path if Pixi only
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/vscode.py
Due: mypy

ENH: do not sort arrays in TOML task tables
  src/compwa_policy/.template/.taplo.toml
  src/compwa_policy/check_dev_files/toml.py
Due: mypy

FIX: add `pixi.toml` to cSpell ignores
  src/compwa_policy/.template/.cspell.json
Due: none

ENH: support Pixi as task runner
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

DOC: improve task runner instructions
  CONTRIBUTING.md
  src/compwa_policy/.template/CONTRIBUTING.md.jinja
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

MAINT: upgrade lock files
  .pre-commit-config.yaml
Due: self-check

ENH: run checks through specific dependency groups
  pyproject.toml
Due: none

ENH: switch to `poethepoet` as task runner (#525)
  .cspell.json
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/clean-caches.yml
  .github/workflows/lock.yml
  .github/workflows/pr-linting.yml
  .gitignore
  .pre-commit-config.yaml
  .taplo.toml
  CONTRIBUTING.md
  pyproject.toml
  src/compwa_policy/.github/workflows/cd.yml
  src/compwa_policy/.github/workflows/ci.yml
  src/compwa_policy/.github/workflows/lock.yml
  src/compwa_policy/.template/.cspell.json
  src/compwa_policy/.template/.taplo.toml
  src/compwa_policy/.template/CONTRIBUTING.md.jinja
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/direnv.py
  src/compwa_policy/check_dev_files/pixi/__init__.py
  src/compwa_policy/check_dev_files/pixi/_update.py
  src/compwa_policy/check_dev_files/poe.py
  src/compwa_policy/check_dev_files/readthedocs.py
  src/compwa_policy/check_dev_files/toml.py
  src/compwa_policy/check_dev_files/tox.py
  src/compwa_policy/check_dev_files/uv.py
  src/compwa_policy/check_dev_files/vscode.py
  src/compwa_policy/utilities/__init__.py
Due: self-check, mypy

Path conditions:
  self-check: any of: ^\.pre\-commit\-(config|hooks)\.yaml$
  mypy: any of: \.py$
