Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: self-check, mypy

self-check:
  name: self-check
  entry: self-check
  language: python

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

ENH: switch to `jupyter-ruff` formatter
  src/compwa_policy/check_dev_files/jupyter.py
Due: mypy

BEHAVIOR: add Python 3.14 to allowed classifiers
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/getters.py
Due: mypy

FIX: remove Python 3.14 from supported versions
  pyproject.toml
  src/compwa_policy/utilities/pyproject/__init__.py
Due: mypy

BEHAVIOR: add Python 3.14 to allowed classifiers (#529)
  pyproject.toml
  src/compwa_policy/utilities/pyproject/getters.py
Due: mypy

BEHAVIOR: update PyPI classifiers if there are tests
  .pre-commit-config.yaml
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pyproject.py
Due: self-check, mypy

BEHAVIOR: update PyPI classifiers if there are tests (#534)
  .pre-commit-config.yaml
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pyproject.py
Due: self-check, mypy

BREAK: drop support for Python 3.9
  pyproject.toml
  src/compwa_policy/check_dev_files/pyupgrade.py
  src/compwa_policy/check_dev_files/readthedocs.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/utilities/cfg.py
  src/compwa_policy/utilities/executor.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/vscode.py
Due: mypy

BREAK: drop support for Python 3.9 (#535)
  pyproject.toml
  src/compwa_policy/check_dev_files/pyupgrade.py
  src/compwa_policy/check_dev_files/readthedocs.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/utilities/cfg.py
  src/compwa_policy/utilities/executor.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/vscode.py
Due: mypy

MAINT: rename `ruff` hook to `ruff-check`
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/ruff.py
Due: self-check, mypy

MAINT: rename `ruff` hook to `ruff-check` (#537)
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/ruff.py
Due: self-check, mypy

DX: upgrade to Python 3.13 in developer environment
  .github/workflows/sync-labels.yml
  .python-version
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/binder.py
  src/compwa_policy/check_dev_files/github_workflows.py
  src/compwa_policy/config.py
  src/compwa_policy/utilities/pyproject/getters.py
  tests/check_dev_files/readthedocs/extend/.readthedocs-good.yml
  tests/check_dev_files/readthedocs/overwrite/.readthedocs-good.yml
  tests/check_dev_files/readthedocs/test_readthedocs.py
Due: mypy

ENH: raise error if dev-python-version is not supported
  src/compwa_policy/check_dev_files/__init__.py
Due: mypy

BEHAVIOR: use Python 3.13 in developer environment by default (#539)
  .github/workflows/sync-labels.yml
  .python-version
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/binder.py
  src/compwa_policy/check_dev_files/github_workflows.py
  src/compwa_policy/config.py
  src/compwa_policy/utilities/pyproject/getters.py
  tests/check_dev_files/readthedocs/extend/.readthedocs-good.yml
  tests/check_dev_files/readthedocs/overwrite/.readthedocs-good.yml
  tests/check_dev_files/readthedocs/test_readthedocs.py
Due: mypy

FIX: do not check `dev-python-version` if no python support
  src/compwa_policy/check_dev_files/__init__.py
Due: mypy

FIX: do not check `dev-python-version` if non-Python (#540)
  src/compwa_policy/check_dev_files/__init__.py
Due: mypy

ENH: list ⬆️ Lock label under 🔨 Maintenance
  .github/release-drafter.yml
  src/compwa_policy/.github/release-drafter.yml
Due: none

ENH: list ⬆️ Lock label under 🔨 Maintenance (#541)
  .github/release-drafter.yml
  src/compwa_policy/.github/release-drafter.yml
Due: none

DOC: update CI workflow badge
  README.md
Due: none

DOC: update CI workflow badge (#542)
  README.md
Due: none

ENH: install `jupyterlab-quickopen`
  src/compwa_policy/check_dev_files/jupyter.py
Due: mypy

ENH: install `jupyterlab-quickopen` (#546)
  src/compwa_policy/check_dev_files/jupyter.py
Due: mypy

MAINT: test package on Python 3.14
  .pre-commit-config.yaml
  pyproject.toml
  src/compwa_policy/utilities/pyproject/__init__.py
Due: self-check, mypy

MAINT: test package on Python 3.14 (#547)
  .pre-commit-config.yaml
  pyproject.toml
  src/compwa_policy/utilities/pyproject/__init__.py
Due: self-check, mypy

FIX: do not update `conf.py` path if not available`
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

FIX: do not update `conf.py` path if not available` (#548)
  src/compwa_policy/check_dev_files/readthedocs.py
Due: mypy

MAINT: rename Pixi `project` to `workspace`
  src/compwa_policy/check_dev_files/pixi/_update.py
Due: mypy

FIX: update `workspace` table
  src/compwa_policy/check_dev_files/pixi/_update.py
Due: mypy

ENH: `project` in `pixi.toml` is now named `workspace` (#550)
  src/compwa_policy/check_dev_files/pixi/_update.py
Due: mypy

BEHAVIOR: remove `poethepoet` from repo dependencies
  CONTRIBUTING.md
  pyproject.toml
  src/compwa_policy/.template/CONTRIBUTING.md.jinja
  src/compwa_policy/check_dev_files/poe.py
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

DX: use `poe` executor options
  pyproject.toml
Due: none

BEHAVIOR: always remove `poethepoet`
  src/compwa_policy/check_dev_files/poe.py
Due: mypy

FIX: upgrade `pathspec` use
  src/compwa_policy/utilities/match.py
Due: mypy

FEAT: switch to `ty` als type checker
  .cspell.json
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/citation.py
  src/compwa_policy/check_dev_files/mypy.py
  src/compwa_policy/check_dev_files/pixi/_remove.py
  src/compwa_policy/check_dev_files/pixi/_update.py
  src/compwa_policy/check_dev_files/poe.py
  src/compwa_policy/check_dev_files/precommit.py
  src/compwa_policy/check_dev_files/pyright.py
  src/compwa_policy/check_dev_files/release_drafter.py
  src/compwa_policy/check_dev_files/toml.py
  src/compwa_policy/check_dev_files/ty.py
  src/compwa_policy/check_dev_files/vscode.py
  src/compwa_policy/config.py
  src/compwa_policy/utilities/__init__.py
  src/compwa_policy/utilities/executor.py
  src/compwa_policy/utilities/precommit/setters.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/getters.py
  src/compwa_policy/utilities/pyproject/setters.py
  src/compwa_policy/utilities/vscode.py
  src/compwa_policy/utilities/yaml.py
  tests/utilities/test_pyproject.py
  typings/.gitignore
  typings/README.md
Due: self-check, mypy

ENH: update `ty` pre-commit hook
  .gitignore
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pyright.py
  src/compwa_policy/check_dev_files/ty.py
  src/compwa_policy/utilities/precommit/struct.py
Due: self-check, mypy

FIX: install `ty` in `style` group
  src/compwa_policy/check_dev_files/ty.py
Due: mypy

FIX: import from `typing`
  src/compwa_policy/check_dev_files/ty.py
Due: mypy

FIX: do not set `rev` if `local` hook
  src/compwa_policy/utilities/precommit/setters.py
Due: mypy

Path conditions:
  self-check: any of: ^\.pre\-commit\-(config|hooks)\.yaml$
  mypy: any of: \.py$
