Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: self-check, mypy

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "MAINT: implement pre-commit autofixes"
  autoupdate_commit_msg: "MAINT: upgrade lock files"
  autoupdate_schedule: quarterly
  skip:
    - check-dev-files
    - mypy
    - pyright
    - self-check

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-dev-files
        name: Check developer config files in the repository
        entry: check-dev-files
        language: python
        always_run: true
        pass_filenames: false
        args:
          - --allow-labels
          - --dependabot=update
          - --excluded-python-versions=3.14
          - --no-pypi
          - --pytest-single-threaded
          - --repo-name=policy
          - --repo-title=ComPWA repository policy

      - id: self-check
        name: self-check
        entry: self-check
        language: python
        files: ^\.pre\-commit\-(config|hooks)\.yaml$

  - repo: https://github.com/ComPWA/prettier-pre-commit
    rev: v3.4.2
    hooks:
      - id: prettier

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.3
    hooks:
      - id: toml-sort
        args: [--in-place]
        exclude: (?x)^(labels/.*\.toml)$

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.0
    hooks:
      - id: cspell

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.4.0
    hooks:
      - id: editorconfig-checker
        name: editorconfig
        alias: ec
        exclude: >-
          (?x)^(
            .*\.py
          )$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types:
          - python

  - repo: https://github.com/ComPWA/pyright-pre-commit
    rev: v1.1.406
    hooks:
      - id: pyright

FIX: make policy hook changes idempotent
  src/compwa_policy/cli/_checks.py
  src/compwa_policy/env/uv.py
  src/compwa_policy/format/precommit.py
  src/compwa_policy/format/toml.py
  src/compwa_policy/github/dependabot.py
  tests/cli/test_checks.py
  tests/env/test_uv.py
  tests/format/test_precommit.py
  tests/format/test_toml.py
Due: mypy

DX: implement `Changelog` type definition
  src/compwa_policy/cli/_checks.py
  src/compwa_policy/env/conda.py
  src/compwa_policy/env/direnv.py
  src/compwa_policy/env/pixi/__init__.py
  src/compwa_policy/env/pixi/_remove.py
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/env/uv.py
  src/compwa_policy/format/cspell.py
  src/compwa_policy/format/precommit.py
  src/compwa_policy/format/prettier.py
  src/compwa_policy/format/toml.py
  src/compwa_policy/github/dependabot.py
  src/compwa_policy/github/labels.py
  src/compwa_policy/github/release_drafter.py
  src/compwa_policy/github/upgrade_lock.py
  src/compwa_policy/github/workflows.py
  src/compwa_policy/nb/binder.py
  src/compwa_policy/nb/jupyter.py
  src/compwa_policy/python/black.py
  src/compwa_policy/python/mypy.py
  src/compwa_policy/python/pyproject.py
  src/compwa_policy/python/pyright.py
  src/compwa_policy/python/pytest.py
  src/compwa_policy/python/pyupgrade.py
  src/compwa_policy/python/ruff.py
  src/compwa_policy/python/ty.py
  src/compwa_policy/repo/citation.py
  src/compwa_policy/repo/commitlint.py
  src/compwa_policy/repo/deprecated.py
  src/compwa_policy/repo/gitpod.py
  src/compwa_policy/repo/poe.py
  src/compwa_policy/repo/readthedocs.py
  src/compwa_policy/repo/vscode.py
  src/compwa_policy/utilities/__init__.py
  src/compwa_policy/utilities/changelog.py
  src/compwa_policy/utilities/precommit/__init__.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/readme.py
  src/compwa_policy/utilities/vscode.py
Due: mypy

MAINT: autoupdate pre-commit and address issues
  .pre-commit-config.yaml
  tests/conftest.py
  tests/test_cli.py
  tests/utilities/precommit/test_getters.py
Due: self-check, mypy

MAINT: upgrade lock files
  .pre-commit-config.yaml
Due: self-check

FIX: make `migrate` work without `pyproject.toml`
  src/compwa_policy/cli/migrate.py
  tests/test_cli.py
Due: mypy

FIX: make `migrate` work without `pyproject.toml` (#636)
  src/compwa_policy/cli/migrate.py
  tests/test_cli.py
Due: mypy

ENH: run `ty` on pre-commit.ci
  .pre-commit-config.yaml
  src/compwa_policy/format/precommit.py
  tests/format/test_precommit.py
Due: self-check, mypy

FIX: avoid formatting machine-generated files with Prettier
  src/compwa_policy/format/prettier.py
  tests/format/test_prettier.py
Due: mypy

FIX: avoid formatting lock files with Prettier (#639)
  src/compwa_policy/format/prettier.py
  tests/format/test_prettier.py
Due: mypy

FIX: do not write supertables in `migrate`
  src/compwa_policy/cli/migrate.py
  tests/cli/test_migrate.py
Due: mypy

FIX: set dummy git config in tests
  tests/cli/test_checks.py
  tests/conftest.py
  tests/env/test_uv.py
  tests/format/test_toml.py
  tests/github/test_workflows.py
  tests/python/test_ruff.py
  tests/readthedocs/test_readthedocs.py
  tests/repo/test_poe.py
  tests/test_cspell.py
  tests/test_pixi.py
Due: mypy

FIX: set dummy git config in tests (#643)
  tests/cli/test_checks.py
  tests/conftest.py
  tests/env/test_uv.py
  tests/format/test_toml.py
  tests/github/test_workflows.py
  tests/python/test_ruff.py
  tests/readthedocs/test_readthedocs.py
  tests/repo/test_poe.py
  tests/test_cspell.py
  tests/test_pixi.py
Due: mypy

FIX: do not write supertables in `migrate` (#641)
  src/compwa_policy/cli/migrate.py
  tests/cli/test_migrate.py
Due: mypy

FIX: unquote `repo-title` in `policy migrate`
  src/compwa_policy/cli/migrate.py
  tests/cli/test_migrate.py
Due: mypy

FIX: unquote `repo-title` in `policy migrate` (#645)
  src/compwa_policy/cli/migrate.py
  tests/cli/test_migrate.py
Due: mypy

MAINT: minor formatting improvements
  src/compwa_policy/env/uv.py
Due: mypy

DX: implement benchmark for `check-dev-files`
  .cspell.json
  .github/workflows/benchmark.yml
  .gitignore
  benchmarks/test_check_dev_files.py
  pyproject.toml
Due: mypy

ENH: define target through CLI argument
  .cspell.json
  .github/workflows/benchmark.yml
  benchmarks/conftest.py
  benchmarks/test_check_dev_files.py
  pyproject.toml
Due: mypy

FIX: get latest commit on AmpForm
  .github/workflows/benchmark.yml
Due: none

MAINT: upgrade workflows
  .github/workflows/benchmark.yml
Due: none

DX: implement benchmark for `check-dev-files` (#648)
  .cspell.json
  .github/workflows/benchmark.yml
  .gitignore
  benchmarks/conftest.py
  benchmarks/test_check_dev_files.py
  pyproject.toml
Due: mypy

DOC: add link to continuous benchmark monitoring
  docs/index.md
Due: none

ENH: manage file resources through Session
  docs/conf.py
  src/compwa_policy/cli/_checks.py
  src/compwa_policy/env/pixi/_remove.py
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/env/uv.py
  src/compwa_policy/format/precommit.py
  src/compwa_policy/format/toml.py
  src/compwa_policy/nb/jupyter.py
  src/compwa_policy/python/black.py
  src/compwa_policy/python/mypy.py
  src/compwa_policy/python/pyproject.py
  src/compwa_policy/python/pyright.py
  src/compwa_policy/python/pytest.py
  src/compwa_policy/python/ruff.py
  src/compwa_policy/python/ty.py
  src/compwa_policy/repo/poe.py
  src/compwa_policy/utilities/__init__.py
  src/compwa_policy/utilities/precommit/__init__.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/readme.py
  src/compwa_policy/utilities/resource.py
  src/compwa_policy/utilities/session.py
  src/compwa_policy/utilities/vscode.py
  tests/utilities/test_session.py
Due: mypy

ENH: manage remaining resources through Session
  src/compwa_policy/env/pixi/__init__.py
  src/compwa_policy/env/pixi/_remove.py
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/repo/gitpod.py
  src/compwa_policy/utilities/__init__.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/pyproject/getters.py
  src/compwa_policy/utilities/resource.py
  src/compwa_policy/utilities/session.py
  src/compwa_policy/utilities/yaml.py
  tests/utilities/test_session.py
Due: mypy

MAINT: minor formatting improvements
  src/compwa_policy/utilities/pyproject/getters.py
Due: mypy

ENH: remove ambient session state
  src/compwa_policy/env/conda.py
  src/compwa_policy/env/direnv.py
  src/compwa_policy/env/pixi/__init__.py
  src/compwa_policy/env/pixi/_remove.py
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/env/uv.py
  src/compwa_policy/format/cspell.py
  src/compwa_policy/format/prettier.py
  src/compwa_policy/format/toml.py
  src/compwa_policy/github/release_drafter.py
  src/compwa_policy/github/workflows.py
  src/compwa_policy/nb/binder.py
  src/compwa_policy/nb/jupyter.py
  src/compwa_policy/python/black.py
  src/compwa_policy/python/mypy.py
  src/compwa_policy/python/pyright.py
  src/compwa_policy/python/pytest.py
  src/compwa_policy/python/pyupgrade.py
  src/compwa_policy/python/ruff.py
  src/compwa_policy/python/ty.py
  src/compwa_policy/repo/citation.py
  src/compwa_policy/repo/deprecated.py
  src/compwa_policy/repo/gitpod.py
  src/compwa_policy/repo/poe.py
  src/compwa_policy/repo/readthedocs.py
  src/compwa_policy/repo/vscode.py
  src/compwa_policy/utilities/__init__.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/readme.py
  src/compwa_policy/utilities/resource.py
  src/compwa_policy/utilities/session.py
  src/compwa_policy/utilities/vscode.py
  tests/utilities/test_session.py
Due: mypy

BREAK: make `session` argument required
  src/compwa_policy/env/conda.py
  src/compwa_policy/env/direnv.py
  src/compwa_policy/env/pixi/_remove.py
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/env/uv.py
  src/compwa_policy/format/cspell.py
  src/compwa_policy/format/prettier.py
  src/compwa_policy/format/toml.py
  src/compwa_policy/github/workflows.py
  src/compwa_policy/nb/binder.py
  src/compwa_policy/nb/jupyter.py
  src/compwa_policy/python/mypy.py
  src/compwa_policy/python/pyright.py
  src/compwa_policy/python/pytest.py
  src/compwa_policy/python/pyupgrade.py
  src/compwa_policy/python/ruff.py
  src/compwa_policy/python/ty.py
  src/compwa_policy/repo/citation.py
  src/compwa_policy/repo/deprecated.py
  src/compwa_policy/repo/gitpod.py
  src/compwa_policy/repo/readthedocs.py
  src/compwa_policy/repo/vscode.py
  src/compwa_policy/utilities/__init__.py
  src/compwa_policy/utilities/pyproject/__init__.py
  src/compwa_policy/utilities/readme.py
  src/compwa_policy/utilities/vscode.py
  tests/env/test_conda.py
  tests/env/test_uv.py
  tests/format/test_prettier.py
  tests/format/test_toml.py
  tests/nb/test_binder.py
  tests/pyright/test_pyright.py
  tests/python/test_mypy.py
  tests/python/test_pytest.py
  tests/python/test_ruff.py
  tests/python/test_ty.py
  tests/test_cspell.py
  tests/test_gitpod.py
  tests/test_pixi.py
Due: mypy

ENH: pass arround only a `session`
  src/compwa_policy/env/pixi/__init__.py
  src/compwa_policy/env/pixi/_remove.py
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/format/toml.py
  src/compwa_policy/nb/jupyter.py
  src/compwa_policy/python/mypy.py
  src/compwa_policy/python/pyright.py
  src/compwa_policy/python/ruff.py
  src/compwa_policy/python/ty.py
  src/compwa_policy/utilities/session.py
  tests/format/test_toml.py
  tests/pyright/test_pyright.py
  tests/python/test_mypy.py
  tests/python/test_ruff.py
  tests/python/test_ty.py
Due: mypy

DX: run `style` job before all others in `all`
  pyproject.toml
Due: none

MAINT: minor formatting improvements
  src/compwa_policy/utilities/session.py
  tests/pyright/test_pyright.py
  tests/python/test_mypy.py
  tests/python/test_ty.py
  tests/test_gitpod.py
Due: mypy

MAINT: use `pytest-describe` paradigm
  src/compwa_policy/python/black.py
  src/compwa_policy/python/mypy.py
  tests/utilities/test_session.py
Due: mypy

ENH: do not return changelog but update `session`
  src/compwa_policy/env/conda.py
  src/compwa_policy/env/pixi/__init__.py
  src/compwa_policy/env/pixi/_remove.py
  src/compwa_policy/env/pixi/_update.py
  src/compwa_policy/env/uv.py
  src/compwa_policy/format/cspell.py
  src/compwa_policy/format/prettier.py
  src/compwa_policy/format/toml.py
  src/compwa_policy/github/release_drafter.py
  src/compwa_policy/github/upgrade_lock.py
  src/compwa_policy/github/workflows.py
  src/compwa_policy/nb/binder.py
  src/compwa_policy/nb/jupyter.py
  src/compwa_policy/python/black.py
  src/compwa_policy/python/mypy.py
  src/compwa_policy/python/pyright.py
  src/compwa_policy/python/pytest.py
  src/compwa_policy/python/ruff.py
  src/compwa_policy/python/ty.py
  src/compwa_policy/repo/citation.py
  src/compwa_policy/repo/deprecated.py
  src/compwa_policy/repo/gitpod.py
  src/compwa_policy/repo/poe.py
  src/compwa_policy/repo/vscode.py
  src/compwa_policy/utilities/__init__.py
  src/compwa_policy/utilities/readme.py
  src/compwa_policy/utilities/vscode.py
  tests/env/test_conda.py
  tests/env/test_uv.py
  tests/format/test_prettier.py
  tests/format/test_toml.py
  tests/repo/test_citation.py
  tests/test_cspell.py
Due: mypy

DX: add Codex configuration to `.gitignore`
  .gitignore
Due: none

DX: add missing type hints
  src/compwa_policy/format/cspell.py
  tests/env/test_conda.py
  tests/env/test_uv.py
  tests/nb/test_binder.py
  tests/utilities/test_session.py
Due: mypy

MAINT: minor formatting improvements
  src/compwa_policy/repo/deprecated.py
  src/compwa_policy/repo/gitpod.py
  src/compwa_policy/repo/poe.py
  src/compwa_policy/repo/vscode.py
Due: mypy

MAINT: minor formatting improvements
  src/compwa_policy/python/black.py
  src/compwa_policy/python/ruff.py
  src/compwa_policy/python/ty.py
  src/compwa_policy/utilities/pyproject/__init__.py
Due: mypy
