Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-setup-cfg, repoma-self-check, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "MAINT: autoupdate pre-commit hooks"
  autoupdate_schedule: quarterly
  skip:
    - check-dev-files
    - format-setup-cfg
    - mypy
    - pyright
    - repoma-self-check
    - taplo

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-dev-files
        name: Check developer config files in the repository
        entry: check-dev-files
        language: python
        always_run: true
        pass_filenames: false
        args:
          - --allow-labels
          - --no-pypi
          - --repo-name=repo-maintenance
          - --repo-title=ComPWA Repository Maintenance

      - id: format-setup-cfg
        name: Format setup.cfg
        entry: format-setup-cfg
        language: python
        files: ^setup.cfg$

      - id: repoma-self-check
        name: repoma-self-check
        entry: repoma-self-check
        language: python
        files: ^\.pre\-commit\-(config|hooks)\.yaml$

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.13.0
    hooks:
      - id: blacken-docs

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v6.31.0
    hooks:
      - id: cspell

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.1
    hooks:
      - id: editorconfig-checker
        name: editorconfig
        alias: ec
        exclude: >-
          (?x)^(
            .*\.py
          )$

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.34.0
    hooks:
      - id: markdownlint

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types:
          - python

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier

  - repo: https://github.com/ComPWA/mirrors-pyright
    rev: v1.1.307
    hooks:
      - id: pyright

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args:
          - --py36-plus

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.275
    hooks:
      - id: ruff
        args:
          - --fix

  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.8.0
    hooks:
      - id: taplo

FIX: ignore whitespaces in TOML comparison (#202)
  src/repoma/check_dev_files/toml.py
Due: mypy

FIX: only update pyright settings if `tool.pyright`
  src/repoma/check_dev_files/pyright.py
Due: mypy

FIX: only update pyright settings if `tool.pyright` (#203)
  src/repoma/check_dev_files/pyright.py
Due: mypy

MAINT: rename cspell update function
  src/repoma/check_dev_files/cspell.py
Due: mypy

FEAT: add `--no-cspell-update` flag
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/cspell.py
Due: mypy

FIX: update description of `--no-github-actions` flag
  src/repoma/check_dev_files/__init__.py
Due: mypy

MAINT: remove redundant excludes from cSpell config
  .cspell.json
  src/repoma/.template/.cspell.json
  src/repoma/check_dev_files/cspell.py
Due: mypy

FEAT: add `--no-cspell-update` flag (#204)
  .cspell.json
  src/repoma/.template/.cspell.json
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/cspell.py
Due: mypy

MAINT: do not lint `bib` files in subdirs
  .vscode/settings.json
  src/repoma/.template/.cspell.json
Due: none

MAINT: do not lint `bib` files in subdirs (#205)
  .vscode/settings.json
  src/repoma/.template/.cspell.json
Due: none

FIX: sort nested entries in cSpell config
  src/repoma/check_dev_files/cspell.py
Due: mypy

FIX: sort nested entries in cSpell config (#206)
  src/repoma/check_dev_files/cspell.py
Due: mypy

ENH: add more excludes to `toml-sort` hook
  src/repoma/check_dev_files/toml.py
Due: mypy

ENH: add more excludes to `toml-sort` hook (#207)
  src/repoma/check_dev_files/toml.py
Due: mypy

FIX: ignore `Manifest.toml` in subdirectories
  src/repoma/.template/.cspell.json
Due: none

MAINT: autoupdate pre-commit config
  .pre-commit-config.yaml
Due: repoma-self-check

DX: switch to black pre-commit hook
  .pre-commit-config.yaml
  src/repoma/check_dev_files/black.py
  tests/utilities/test_precommit.py
Due: repoma-self-check, mypy

FIX: remove `black-jupyter` hook as well
  src/repoma/check_dev_files/black.py
Due: mypy

MAINT: apply new black formatting
  src/repoma/check_dev_files/citation.py
  src/repoma/check_dev_files/commitlint.py
  src/repoma/check_dev_files/github_workflows.py
  src/repoma/check_dev_files/mypy.py
  src/repoma/check_dev_files/nbstripout.py
  src/repoma/check_dev_files/precommit.py
  src/repoma/check_dev_files/pyright.py
  src/repoma/check_dev_files/pytest.py
  src/repoma/check_dev_files/release_drafter.py
  src/repoma/check_dev_files/setup_cfg.py
  src/repoma/check_dev_files/toml.py
  src/repoma/errors.py
  src/repoma/self_check.py
  src/repoma/utilities/pyproject.py
Due: mypy

MAINT: autoupdate pre-commit hooks
  .pre-commit-config.yaml
Due: repoma-self-check

DX: switch to `black` pre-commit hook (#209)
  .pre-commit-config.yaml
  src/repoma/check_dev_files/black.py
  tests/utilities/test_precommit.py
Due: repoma-self-check, mypy

FIX: remove `black-jupyter` hook as well (#210)
  src/repoma/check_dev_files/black.py
Due: mypy

MAINT: apply new `black` formatting (#211)
  .pre-commit-config.yaml
  src/repoma/check_dev_files/citation.py
  src/repoma/check_dev_files/commitlint.py
  src/repoma/check_dev_files/github_workflows.py
  src/repoma/check_dev_files/mypy.py
  src/repoma/check_dev_files/nbstripout.py
  src/repoma/check_dev_files/precommit.py
  src/repoma/check_dev_files/pyright.py
  src/repoma/check_dev_files/pytest.py
  src/repoma/check_dev_files/release_drafter.py
  src/repoma/check_dev_files/setup_cfg.py
  src/repoma/check_dev_files/toml.py
  src/repoma/errors.py
  src/repoma/self_check.py
  src/repoma/utilities/pyproject.py
Due: repoma-self-check, mypy

FEAT: add `quarterly` and `biannually` to cron jobs
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/update_pip_constraints.py
Due: mypy

FEAT: add `quarterly` and `biannually` to cron jobs (#213)
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/update_pip_constraints.py
Due: mypy

ENH: allow pinning constraints in no-python repo
  src/repoma/check_dev_files/__init__.py
Due: mypy

ENH: allow pinning constraints in no-python repo (#214)
  src/repoma/check_dev_files/__init__.py
Due: mypy

DX: show code block moves in Git diff editor
  .vscode/settings.json
  src/repoma/check_dev_files/vscode.py
Due: mypy

DX: show code block moves in Git diff editor (#215)
  .vscode/settings.json
  src/repoma/check_dev_files/vscode.py
Due: mypy

DX: run cSpell in VSCode on GitHub Actions configs
  .cspell.json
  src/repoma/.template/.cspell.json
Due: none

DX: run cSpell in VSCode on GitHub Actions configs (#217)
  .cspell.json
  src/repoma/.template/.cspell.json
Due: none

ENH: run pip install checks in parallel
  src/repoma/pin_nb_requirements.py
Due: mypy

ENH: automatically update pip install cell metadata
  src/repoma/pin_nb_requirements.py
Due: mypy

ENH: automatically update pip install cell metadata (#218)
  src/repoma/pin_nb_requirements.py
Due: mypy

MAINT: remove dunder from subhook functions
  src/repoma/pin_nb_requirements.py
Due: mypy

ENH: automatically format `pip install` cell
  .cspell.json
  src/repoma/pin_nb_requirements.py
Due: mypy

ENH: automatically format `pip install` cell
  src/repoma/pin_nb_requirements.py
Due: mypy

MAINT: extract `load_notebook()` function
  src/repoma/colab_toc_visible.py
  src/repoma/fix_nbformat_version.py
  src/repoma/pin_nb_requirements.py
  src/repoma/set_nb_cells.py
  src/repoma/utilities/notebook.py
Due: mypy

ENH: automatically format `pip install` cell (#219)
  .cspell.json
  src/repoma/colab_toc_visible.py
  src/repoma/fix_nbformat_version.py
  src/repoma/pin_nb_requirements.py
  src/repoma/set_nb_cells.py
  src/repoma/utilities/notebook.py
Due: mypy

FEAT: test package on Python 3.12
  pyproject.toml
  setup.cfg
  src/repoma/utilities/project_info.py
Due: format-setup-cfg, mypy
