Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-setup-cfg, repoma-self-check, flake8, mypy, pylint

format-setup-cfg:
  name: Format setup.cfg
  entry: format-setup-cfg
  language: python

repoma-self-check:
  name: repoma-self-check
  entry: repoma-self-check
  language: python

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --score=no
  language: system
  require_serial: true

FEAT: automatically add EditorConfig pre-commit hook (#129)
  .pre-commit-config.yaml
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/cspell.py
  src/repoma/check_dev_files/editor_config.py
  src/repoma/check_dev_files/editorconfig.py
  src/repoma/utilities/__init__.py
  src/repoma/utilities/precommit.py
Due: repoma-self-check, flake8, mypy, pylint

FEAT: allow overwriting version branches job
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FEAT: allow overwriting version branches job (#130)
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: allow adding additional jobs to CD workflow
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: allow adding additional jobs to CD workflow (#131)
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

MAINT: remove `user_expressions` from cell metadata
  src/repoma/check_dev_files/nbstripout.py
Due: flake8, mypy, pylint

FIX: add newline after `nbstripout` hook
  src/repoma/check_dev_files/nbstripout.py
Due: flake8, mypy, pylint

FEAT: remove `user_expressions` from cell metadata (#132)
  src/repoma/check_dev_files/nbstripout.py
Due: flake8, mypy, pylint

DX: run CI on version branches
  .github/workflows/ci.yml
  src/repoma/.github/workflows/ci.yml
Due: none

FIX: remove `ci.skip` section if empty
  src/repoma/check_dev_files/precommit.py
Due: flake8, mypy, pylint

BEHAVIOR: strictly enforce `ci.skip` section
  src/repoma/check_dev_files/precommit.py
Due: flake8, mypy, pylint

BEHAVIOR: strictly enforce `ci.skip` section (#135)
  src/repoma/check_dev_files/precommit.py
Due: flake8, mypy, pylint

DX: run CI on PRs to any branch
  .github/workflows/ci.yml
  src/repoma/.github/workflows/ci.yml
Due: none

DX: run CI on PRs to main, epic, and version branches
  .github/workflows/ci.yml
  src/repoma/.github/workflows/ci.yml
Due: none

MAINT: autoupdate pre-commit hooks
  .pre-commit-config.yaml
Due: repoma-self-check

MAINT: pin CI workflow for GitHub Actions extension
  .vscode/settings.json
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

MAINT: pin CI workflow for GitHub Actions extension (#136)
  .vscode/settings.json
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

MAINT: increase pre-commit upgrade to quarterly
  .pre-commit-config.yaml
Due: repoma-self-check

MAINT: update pyright ignore syntax
  src/repoma/check_dev_files/github_templates.py
Due: flake8, mypy, pylint

BEHAVIOR: remove `cell.metadata.attachments` from notebooks
  src/repoma/check_dev_files/nbstripout.py
Due: flake8, mypy, pylint

BEHAVIOR: remove notebook `metadata.attachments` (#139)
  src/repoma/check_dev_files/nbstripout.py
Due: flake8, mypy, pylint

FIX: remove `cell.attachments` instead of metadata
  src/repoma/check_dev_files/nbstripout.py
Due: flake8, mypy, pylint

FIX: remove `cell.attachments` instead of metadata (#140)
  src/repoma/check_dev_files/nbstripout.py
Due: flake8, mypy, pylint

DX: run macos job on Python 3.9
  .github/workflows/ci.yml
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

ENH: run GitPod check after other checks
  src/repoma/check_dev_files/__init__.py
Due: flake8, mypy, pylint

ENH: run GitPod check after other checks (#141)
  src/repoma/check_dev_files/__init__.py
Due: flake8, mypy, pylint

FIX: insert pre-commit repo between other single-hook repos
  src/repoma/utilities/precommit.py
Due: flake8, mypy, pylint

MAINT: extract `update_precommit_hook()`
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/pyupgrade.py
  src/repoma/utilities/precommit.py
Due: flake8, mypy, pylint

MAINT: extract `update_single_hook_precommit_repo()` function
  src/repoma/check_dev_files/editorconfig.py
  src/repoma/check_dev_files/nbstripout.py
  src/repoma/check_dev_files/pyupgrade.py
  src/repoma/check_dev_files/toml.py
  src/repoma/utilities/precommit.py
Due: flake8, mypy, pylint

MAINT: insert empty `rev` if not provided
  src/repoma/check_dev_files/editorconfig.py
  src/repoma/check_dev_files/nbstripout.py
  src/repoma/check_dev_files/pyupgrade.py
  src/repoma/check_dev_files/toml.py
  src/repoma/utilities/precommit.py
Due: flake8, mypy, pylint

MAINT: sort settings
  .vscode/settings.json
Due: none

MAINT: extract `load_pyproject()` function
  src/repoma/check_dev_files/black.py
  src/repoma/utilities/pyproject.py
Due: flake8, mypy, pylint

ENH: automatically update cSpell pre-commit repo
  src/repoma/check_dev_files/cspell.py
Due: flake8, mypy, pylint

ENH: automatically update `black` pre-commit repo
  src/repoma/check_dev_files/black.py
Due: flake8, mypy, pylint

FEAT: automatically `black` and cSpell pre-commit hooks (#142)
  .vscode/settings.json
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/cspell.py
  src/repoma/check_dev_files/editorconfig.py
  src/repoma/check_dev_files/nbstripout.py
  src/repoma/check_dev_files/pyupgrade.py
  src/repoma/check_dev_files/toml.py
  src/repoma/utilities/precommit.py
  src/repoma/utilities/pyproject.py
Due: flake8, mypy, pylint

FEAT: automatically update black configuration
  pyproject.toml
  src/repoma/check_dev_files/black.py
  src/repoma/utilities/pyproject.py
  tests/check_dev_files/test_black.py
Due: flake8, mypy, pylint

FEAT: automatically update `nbqa.addopts` settings
  src/repoma/check_dev_files/black.py
  src/repoma/utilities/pyproject.py
  tests/check_dev_files/test_black.py
Due: flake8, mypy, pylint

MAINT: switch to `tomlkit`
  .cspell.json
  setup.cfg
  src/repoma/utilities/pyproject.py
Due: format-setup-cfg, flake8, mypy, pylint

FEAT: automatically update settings in `pyproject.toml` (#143)
  .cspell.json
  pyproject.toml
  setup.cfg
  src/repoma/check_dev_files/black.py
  src/repoma/utilities/pyproject.py
  tests/check_dev_files/test_black.py
Due: format-setup-cfg, flake8, mypy, pylint

MAINT: address Ruff issues
  src/repoma/check_dev_files/cspell.py
  src/repoma/fix_nbformat_version.py
  src/repoma/pin_nb_requirements.py
  src/repoma/utilities/executor.py
  src/repoma/utilities/precommit.py
  src/repoma/utilities/yaml.py
Due: flake8, mypy, pylint

Path conditions:
  format-setup-cfg: any of: ^setup.cfg$
  repoma-self-check: any of: ^\.pre\-commit\-(config|hooks)\.yaml$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
