Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-setup-cfg, repoma-self-check, mypy

format-setup-cfg:
  name: Format setup.cfg
  entry: format-setup-cfg
  language: python

repoma-self-check:
  name: repoma-self-check
  entry: repoma-self-check
  language: python

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

DX: remove `markdownlint` support (#173)
  .gitignore
  .gitpod.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  src/repoma/check_dev_files/deprecated.py
Due: repoma-self-check, mypy

FEAT: add hook for making Colab TOC visible
  .pre-commit-hooks.yaml
  setup.cfg
  src/repoma/colab_toc_visible.py
Due: format-setup-cfg, repoma-self-check, mypy

FEAT: add hook for making Colab TOC visible (#174)
  .pre-commit-hooks.yaml
  setup.cfg
  src/repoma/colab_toc_visible.py
Due: format-setup-cfg, repoma-self-check, mypy

MAINT: remove `telemetry.enableTelemetry` VSCode setting
  src/repoma/check_dev_files/vscode.py
Due: mypy

FIX: selectively exclude Python files from EditorConfig
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/editorconfig.py
Due: mypy

MAINT: autoupdate pre-commit config
  .pre-commit-config.yaml
Due: repoma-self-check

DX: rename Conda environment to `repo-maintenance`
  environment.yml
Due: none

DX: switch to issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .vscode/settings.json
  src/repoma/.github/ISSUE_TEMPLATE
  src/repoma/.github/pull_request_template.md
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/deprecated.py
  src/repoma/check_dev_files/github_templates.py
  tests/check_dev_files/test_github_templates.py
Due: mypy

DX: remove GitHub issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .vscode/settings.json
  src/repoma/.github/ISSUE_TEMPLATE
  src/repoma/.github/pull_request_template.md
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/deprecated.py
  src/repoma/check_dev_files/github_templates.py
  tests/check_dev_files/test_github_templates.py
Due: mypy

FIX: remove `.markdownlint.json`
  .markdownlint.json
  src/repoma/check_dev_files/deprecated.py
Due: mypy

MAINT: add `toml-sort` pre-commit hook
  .pre-commit-config.yaml
  .taplo.toml
  pyproject.toml
  src/repoma/check_dev_files/toml.py
Due: repoma-self-check, mypy

BREAK: rename `setup_cfg` to `project_info`
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/deprecated.py
  src/repoma/check_dev_files/github_workflows.py
  src/repoma/check_dev_files/gitpod.py
  src/repoma/check_dev_files/pyupgrade.py
  src/repoma/check_dev_files/ruff.py
  src/repoma/check_dev_files/setup_cfg.py
  src/repoma/format_setup_cfg.py
  src/repoma/set_nb_cells.py
  src/repoma/utilities/project_info.py
  tests/utilities/test_cfg.py
  tests/utilities/test_setup_cfg.py
Due: mypy

DX: allow constructing `dict` with `dict` kwargs
  pyproject.toml
  src/repoma/check_dev_files/toml.py
Due: mypy

FIX: write `pyright` instead of `black`
  src/repoma/check_dev_files/pyright.py
Due: mypy

BEHAVIOR: mege `setup.cfg` into `pyproject.toml`
  .pre-commit-config.yaml
  .taplo.toml
  pyproject.toml
  setup.cfg
  src/repoma/check_dev_files/deprecated.py
  src/repoma/check_dev_files/ruff.py
  src/repoma/check_dev_files/setup_cfg.py
  src/repoma/utilities/project_info.py
  tests/utilities/test_cfg.py
  tests/utilities/test_setup_cfg.py
Due: format-setup-cfg, repoma-self-check, mypy

ENH: accept both `pyproject.toml` and `setup.cfg` in `project_info` module
  src/repoma/set_nb_cells.py
  src/repoma/utilities/project_info.py
Due: mypy

FIX: correctly import substitution syntax
  pyproject.toml
  src/repoma/check_dev_files/setup_cfg.py
Due: mypy

FIX: remove `format-setup-cfg` hook
  src/repoma/check_dev_files/setup_cfg.py
Due: mypy

MAINT: remove `setup.py` as well
  src/repoma/check_dev_files/setup_cfg.py
Due: mypy

FIX: downgrade `setuptools` for lower versions of Python
  pyproject.toml
  src/repoma/check_dev_files/setup_cfg.py
Due: mypy

FIX: do not convert to `pyproject.toml` in Python 3.6
  pyproject.toml
  setup.cfg
  src/repoma/check_dev_files/deprecated.py
  src/repoma/check_dev_files/ruff.py
  src/repoma/check_dev_files/setup_cfg.py
  src/repoma/utilities/project_info.py
  tests/utilities/test_cfg.py
  tests/utilities/test_setup_cfg.py
Due: format-setup-cfg, mypy

FIX: install `dataclasses` in Python 3.6
  setup.cfg
Due: format-setup-cfg

BEHAVIOR: mege `setup.cfg` into `pyproject.toml` (#184)
  .pre-commit-config.yaml
  .taplo.toml
  environment.yml
  pyproject.toml
  setup.cfg
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/deprecated.py
  src/repoma/check_dev_files/github_workflows.py
  src/repoma/check_dev_files/gitpod.py
  src/repoma/check_dev_files/pyright.py
  src/repoma/check_dev_files/pyupgrade.py
  src/repoma/check_dev_files/ruff.py
  src/repoma/check_dev_files/setup_cfg.py
  src/repoma/check_dev_files/toml.py
  src/repoma/format_setup_cfg.py
  src/repoma/set_nb_cells.py
  src/repoma/utilities/project_info.py
  src/repoma/utilities/setup_cfg.py
  tests/utilities/test_cfg.py
  tests/utilities/test_setup_cfg.py
Due: format-setup-cfg, repoma-self-check, mypy

FIX: do not abort setup.cfg check if no `pyproject.toml`
  src/repoma/check_dev_files/setup_cfg.py
Due: mypy

FEAT: remove empty tables from `pyproject.toml`
  src/repoma/check_dev_files/setup_cfg.py
Due: mypy

FEAT: remove empty tables from `pyproject.toml` (#185)
  src/repoma/check_dev_files/setup_cfg.py
Due: mypy

FIX: update `relkease_drafter` module description
  src/repoma/check_dev_files/release_drafter.py
Due: mypy

DX: lint PRs with `@compwa/commitlint-config`
  .github/workflows/pr-linting.yml
  .gitignore
  .vscode/settings.json
  commitlint.config.js
  src/repoma/check_dev_files/commitlint.py
  src/repoma/utilities/__init__.py
Due: mypy

FIX: remove broken symbolic link
  src/repoma/.template/commitlint.config.js
Due: none

MAINT: remove redundant `npm install` statement
  .github/workflows/pr-linting.yml
Due: none

FEAT: automatically update `pr-linting.yml`
  src/repoma/.github/workflows/pr-linting.yml
  src/repoma/check_dev_files/github_workflows.py
  src/repoma/utilities/__init__.py
Due: mypy

DX: lint PRs with `@compwa/commitlint-config` (#186)
  .github/workflows/pr-linting.yml
  .gitignore
  .vscode/settings.json
  commitlint.config.js
  src/repoma/.github/workflows/pr-linting.yml
  src/repoma/.template/commitlint.config.js
  src/repoma/check_dev_files/commitlint.py
  src/repoma/check_dev_files/github_workflows.py
  src/repoma/check_dev_files/release_drafter.py
  src/repoma/utilities/__init__.py
Due: mypy

DX: show all symbols in notebook
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/vscode.py
Due: mypy

DX: show all symbols in Jupyter notebook (#187)
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/vscode.py
Due: mypy

MAINT: autoupdate pre-commit hooks (#176)
  .github/workflows/pr-linting.yml
  .github/workflows/sync-labels.yml
  .pre-commit-config.yaml
Due: repoma-self-check

MAINT: update workflow OS to Ubuntu 22.04
  .github/workflows/pr-linting.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sync-labels.yml
Due: none

MAINT: update workflow OS to Ubuntu 22.04 (#188)
  .github/workflows/pr-linting.yml
  .github/workflows/release-drafter.yml
  .github/workflows/sync-labels.yml
Due: none

ENH: remove GitPod config if `--no-gitpod`
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/gitpod.py
Due: mypy

Path conditions:
  format-setup-cfg: any of: ^setup.cfg$
  repoma-self-check: any of: ^\.pre\-commit\-(config|hooks)\.yaml$
  mypy: any of: \.py$
