Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-setup-cfg, repoma-self-check, flake8, mypy, pylint

format-setup-cfg:
  name: Format setup.cfg
  entry: format-setup-cfg
  language: python

repoma-self-check:
  name: repoma-self-check
  entry: repoma-self-check
  language: python

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --score=no
  language: system
  require_serial: true

MAINT: sort config keys in `tox.ini`
  tox.ini
Due: none

MAINT: fix indentation in `tox.ini`
  tox.ini
Due: none

MAINT: set PAT for style job
  .github/workflows/ci.yml
  src/repoma/.github/workflows/ci.yml
Due: none

MAINT: implement updates from pre-commit hooks
  pyproject.toml
Due: none

TEST: do not set secret
  .github/workflows/ci.yml
  src/repoma/.github/workflows/ci.yml
Due: none

FIX: update `any_of` value in PR linting workflow
  .github/workflows/pr-linting.yml
Due: none

FEAT: enforce Taplo as a TOML formatter (#116)
  .cspell.json
  .github/workflows/ci.yml
  .github/workflows/pr-linting.yml
  .gitpod.yml
  .pre-commit-config.yaml
  .taplo.toml
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
  src/repoma/.github/workflows/ci.yml
  src/repoma/.template/.taplo.toml
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/precommit.py
  src/repoma/check_dev_files/toml.py
  src/repoma/utilities/__init__.py
  src/repoma/utilities/vscode.py
  tests/check_dev_files/test_black.py
  tests/check_dev_files/test_gitpod.py
Due: repoma-self-check, flake8, mypy, pylint

MAINT: simplify `Executor` syntax with `finalize()`
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/cspell.py
  src/repoma/check_dev_files/flake8.py
  src/repoma/check_dev_files/github_templates.py
  src/repoma/check_dev_files/github_workflows.py
  src/repoma/check_dev_files/prettier.py
  src/repoma/check_dev_files/pyupgrade.py
  src/repoma/check_dev_files/setup_cfg.py
  src/repoma/check_dev_files/toml.py
  src/repoma/check_dev_files/tox.py
  src/repoma/check_dev_files/update_pip_constraints.py
  src/repoma/fix_nbformat_version.py
  src/repoma/self_check.py
  src/repoma/utilities/executor.py
Due: flake8, mypy, pylint

MAINT: simplify `Executor` syntax with `finalize()` (#122)
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/cspell.py
  src/repoma/check_dev_files/flake8.py
  src/repoma/check_dev_files/github_templates.py
  src/repoma/check_dev_files/github_workflows.py
  src/repoma/check_dev_files/prettier.py
  src/repoma/check_dev_files/pyupgrade.py
  src/repoma/check_dev_files/setup_cfg.py
  src/repoma/check_dev_files/toml.py
  src/repoma/check_dev_files/tox.py
  src/repoma/check_dev_files/update_pip_constraints.py
  src/repoma/fix_nbformat_version.py
  src/repoma/self_check.py
  src/repoma/utilities/executor.py
Due: flake8, mypy, pylint

MAINT: remove `"unwantedRecommendations"` setting
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/vscode.py
  src/repoma/utilities/vscode.py
Due: flake8, mypy, pylint

DX: remove `travisillig.vscode-json-stable-stringify`
  .gitpod.yml
  .vscode/extensions.json
  src/repoma/check_dev_files/vscode.py
Due: flake8, mypy, pylint

FIX: update test values
  tests/check_dev_files/test_gitpod.py
Due: flake8, mypy, pylint

DX: use VS Code built-in JSON sorter (#123)
  .gitpod.yml
  .vscode/extensions.json
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/vscode.py
  src/repoma/utilities/vscode.py
  tests/check_dev_files/test_gitpod.py
Due: flake8, mypy, pylint

MAINT: generalize JSON dump function
  src/repoma/utilities/vscode.py
Due: flake8, mypy, pylint

MAINT: shorten `vscode` function names
  src/repoma/check_dev_files/cspell.py
  src/repoma/check_dev_files/prettier.py
  src/repoma/check_dev_files/toml.py
  src/repoma/check_dev_files/vscode.py
  src/repoma/utilities/vscode.py
Due: flake8, mypy, pylint

FEAT: set `"python.analysis.inlayHints.pytestParameters"`
  .vscode/settings.json
  src/repoma/check_dev_files/vscode.py
  src/repoma/utilities/__init__.py
  src/repoma/utilities/vscode.py
Due: flake8, mypy, pylint

DX: activate `pytest` type hint support for VS Code (#124)
  .vscode/settings.json
  src/repoma/check_dev_files/cspell.py
  src/repoma/check_dev_files/prettier.py
  src/repoma/check_dev_files/toml.py
  src/repoma/check_dev_files/vscode.py
  src/repoma/utilities/__init__.py
  src/repoma/utilities/vscode.py
Due: flake8, mypy, pylint

FEAT: recommend `ms-vscode.live-server` extension
  src/repoma/check_dev_files/vscode.py
Due: flake8, mypy, pylint

FEAT: recommend `ms-vscode.live-server` extension (#125)
  src/repoma/check_dev_files/vscode.py
Due: flake8, mypy, pylint

MAINT: remove outdated VS Code settings
  .vscode/settings.json
  src/repoma/check_dev_files/vscode.py
  src/repoma/utilities/vscode.py
Due: flake8, mypy, pylint

MAINT: remove outdated VS Code settings (#126)
  .vscode/settings.json
  src/repoma/check_dev_files/vscode.py
  src/repoma/utilities/vscode.py
Due: flake8, mypy, pylint

MAINT: autoupdate pre-commit hooks
  .pre-commit-config.yaml
Due: repoma-self-check

DX: switch to official GH Actions VSC extension
  .gitpod.yml
  .vscode/extensions.json
  tests/check_dev_files/test_gitpod.py
Due: flake8, mypy, pylint

FEAT: recommend VS Code GitHub Actions extension
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FEAT: recommend VS Code GitHub Actions extension (#127)
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

ENH: run `taplo` hook before `precommit` sub-hook
  src/repoma/check_dev_files/__init__.py
Due: flake8, mypy, pylint

FIX: do not run taplo on `Project.toml` etc
  .taplo.toml
Due: none

FIX: update `taplo` config, not `prettier`
  src/repoma/check_dev_files/toml.py
Due: flake8, mypy, pylint

MAINT: remove redundant variable definition
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: create workflow if non-existent
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

BREAK: rename `editor_config` to `editorconfig`
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/cspell.py
  src/repoma/check_dev_files/editorconfig.py
  src/repoma/utilities/__init__.py
Due: flake8, mypy, pylint

ENH: set correct types for ruamel objects
  src/repoma/utilities/precommit.py
Due: flake8, mypy, pylint

FEAT: implement `find_repo` for `ruamel` objects
  src/repoma/utilities/precommit.py
Due: flake8, mypy, pylint

MAINT: switch logics of `editorconfig` existence check
  .pre-commit-config.yaml
  src/repoma/check_dev_files/editorconfig.py
Due: repoma-self-check, flake8, mypy, pylint

DX: set `ec` as alias for `editorconfig-checker`
  .pre-commit-config.yaml
  src/repoma/check_dev_files/editorconfig.py
Due: repoma-self-check, flake8, mypy, pylint

FIX: insert `editorconfig` hook at correct index
  src/repoma/check_dev_files/editorconfig.py
Due: flake8, mypy, pylint

MAINT: remove redundant `touch` call
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

FIX: create `.github/workflow` if non-existent (#128)
  src/repoma/check_dev_files/github_workflows.py
Due: flake8, mypy, pylint

Path conditions:
  format-setup-cfg: any of: ^setup.cfg$
  repoma-self-check: any of: ^\.pre\-commit\-(config|hooks)\.yaml$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
