Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: self-check, mypy

.pre-commit-config.yaml:

ci:
  autoupdate_commit_msg: "MAINT: autoupdate pre-commit hooks"
  autoupdate_schedule: quarterly
  skip:
    - check-dev-files
    - mypy
    - prettier
    - pyright
    - self-check
    - taplo

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        name: Tests should start with test_
        args: ["--django"]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-dev-files
        name: Check developer config files in the repository
        entry: check-dev-files
        language: python
        always_run: true
        pass_filenames: false
        args:
          - --allow-labels
          - --dependabot=update
          - --no-notebooks
          - --no-prettierrc
          - --no-pypi
          - --repo-name=policy
          - --repo-title=ComPWA repository policy

      - id: self-check
        name: self-check
        entry: self-check
        language: python
        files: ^\.pre\-commit\-(config|hooks)\.yaml$

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier

  - repo: https://github.com/ComPWA/mirrors-taplo
    rev: v0.8.1
    hooks:
      - id: taplo

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.23.1
    hooks:
      - id: toml-sort
        args: [--in-place]
        exclude: (?x)^(labels/.*\.toml)$

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.9.0
    hooks:
      - id: cspell

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.3
    hooks:
      - id: editorconfig-checker
        name: editorconfig
        alias: ec
        exclude: >-
          (?x)^(
            .*\.py
          )$

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        require_serial: true
        types:
          - python

  - repo: https://github.com/ComPWA/mirrors-pyright
    rev: v1.1.369
    hooks:
      - id: pyright

ENH: add `.venv` to Pyright excludes
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/pyright.py
Due: mypy

MAINT: remove Pixi from `.gitignore`
  .gitignore
  src/compwa_policy/check_dev_files/pixi/_remove.py
Due: mypy

ENH: create `.python-version` file for dev Python version
  .python-version
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

BREAK: generalize `remove_from_gitignore()`
  src/compwa_policy/check_dev_files/deprecated.py
  src/compwa_policy/check_dev_files/pixi/_remove.py
  src/compwa_policy/utilities/__init__.py
Due: mypy

ENH: remove `condaenv` file from `.gitignore`
  .gitignore
  src/compwa_policy/check_dev_files/conda.py
Due: mypy

BEHAVIOR: write "MAINT: update lock files" in update PRs
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/precommit.py
Due: self-check, mypy

ENH: add `uv.lock` to EditorConfig
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

ENH: remove `.constraints` folder
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

ENH: run `uv sync` on Read the Docs
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/readthedocs.py
  tests/check_dev_files/readthedocs/test_readthedocs.py
Due: mypy

MAINT: remove `.constraints` file association in VS Code
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

MAINT: commit `uv.lock`
  .editorconfig
  uv.lock
Due: none

ENH: remove `.constraints` from "search.exclude" in VS Code
  .vscode/settings.json
  src/compwa_policy/check_dev_files/uv.py
  tests/utilities/precommit/test_getters.py
Due: mypy

FIX: do not open `pyproject.toml` if not existing
  src/compwa_policy/check_dev_files/pixi/_remove.py
  src/compwa_policy/check_dev_files/precommit.py
  src/compwa_policy/check_dev_files/setuptools_scm.py
Due: mypy

FEAT: add `none` as --package-managers` choice
  src/compwa_policy/check_dev_files/conda.py
Due: mypy

MAINT: autoupdate pre-commit hooks
  .pre-commit-config.yaml
Due: self-check

ENH: automatically update `CONTRIBUTING.md` file
  .vscode/extensions.json
  CONTRIBUTING.md
  pyproject.toml
  src/compwa_policy/.template/CONTRIBUTING.md.jinja
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/uv.py
  uv.lock
Due: mypy

ENH: do not create new `CONTRIBUTING.md` file
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

DX: add `uv.lock` pre-commit hook
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/uv.py
Due: self-check, mypy

ENH: do not update `.envrc` if no package manager
  src/compwa_policy/check_dev_files/direnv.py
Due: mypy

ENH: do not add `myst-highlight` if unwanted
  src/compwa_policy/check_dev_files/vscode.py
  src/compwa_policy/utilities/vscode.py
Due: mypy

DX: extend cSpell ignore path list
  src/compwa_policy/.template/.cspell.json
Due: none

ENH: only add `uv.lock` settings if committed
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

DX: hide `uv.lock` from VS Code search
  .vscode/settings.json
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

ENH: ignore `.prettierrc` check if `.prettierrc.yml` already available
  src/compwa_policy/check_dev_files/prettier.py
Due: mypy

ENH: only set `rewrap.wrappingColumn` if Python repo
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/vscode.py
Due: mypy

ENH: only set `python.terminal.activateEnvironment` if Python repo
  src/compwa_policy/check_dev_files/vscode.py
Due: mypy

DOC: update VS Code dev link
  CONTRIBUTING.md
  src/compwa_policy/.template/CONTRIBUTING.md.jinja
Due: none

ENH: get `requires-python` from `.python-version`
  src/compwa_policy/check_dev_files/pyproject.py
  src/compwa_policy/utilities/pyproject/getters.py
Due: mypy

ENH: add support for environment variables in `.envrc`
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/direnv.py
Due: mypy

ENH: set `requires-python` if missing
  src/compwa_policy/check_dev_files/pyproject.py
  src/compwa_policy/utilities/pyproject/getters.py
Due: mypy

DOC: add tip about `pre-commit install`
  CONTRIBUTING.md
  src/compwa_policy/.template/CONTRIBUTING.md.jinja
Due: none

BREAK: rename `--package-managers to `--package-manager`
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/conda.py
  src/compwa_policy/check_dev_files/direnv.py
  src/compwa_policy/check_dev_files/pixi/__init__.py
  src/compwa_policy/check_dev_files/pyright.py
  src/compwa_policy/check_dev_files/readthedocs.py
  src/compwa_policy/check_dev_files/uv.py
  tests/check_dev_files/readthedocs/test_readthedocs.py
Due: mypy

MAINT: clean up `.cspell.json`
  src/compwa_policy/.template/.cspell.json
  uv.lock
Due: none

FEAT: implement `pixi+uv` environment manager
  src/compwa_policy/check_dev_files/conda.py
  src/compwa_policy/check_dev_files/direnv.py
  src/compwa_policy/check_dev_files/pixi/__init__.py
  src/compwa_policy/check_dev_files/pixi/_update.py
Due: mypy

FIX: also update `uv` configuration if `"pixi+uv"`
  src/compwa_policy/check_dev_files/pyright.py
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

ENH: add Pixi badge
  src/compwa_policy/check_dev_files/pixi/_update.py
Due: mypy

DOC: add `uv` badge
  README.md
  src/compwa_policy/check_dev_files/uv.py
Due: mypy

ENH: write Pixi config to `pixi.toml`
  src/compwa_policy/check_dev_files/pixi/_update.py
Due: mypy

FIX: run `uv-lock` on GitHub Actions
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/precommit.py
Due: self-check, mypy

FEAT: switch to `uv` as default package manager (#424)
  .cspell.json
  .editorconfig
  .envrc
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  environment.yml
  pyproject.toml
  src/compwa_policy/.template/.cspell.json
  src/compwa_policy/.template/CONTRIBUTING.md.jinja
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/conda.py
  src/compwa_policy/check_dev_files/deprecated.py
  src/compwa_policy/check_dev_files/direnv.py
  src/compwa_policy/check_dev_files/pixi/__init__.py
  src/compwa_policy/check_dev_files/pixi/_helpers.py
  src/compwa_policy/check_dev_files/pixi/_remove.py
  src/compwa_policy/check_dev_files/pixi/_update.py
  src/compwa_policy/check_dev_files/precommit.py
  src/compwa_policy/check_dev_files/prettier.py
  src/compwa_policy/check_dev_files/pyproject.py
  src/compwa_policy/check_dev_files/pyright.py
  src/compwa_policy/check_dev_files/readthedocs.py
  src/compwa_policy/check_dev_files/setuptools_scm.py
  src/compwa_policy/check_dev_files/uv.py
  src/compwa_policy/check_dev_files/vscode.py
  src/compwa_policy/utilities/__init__.py
  src/compwa_policy/utilities/pyproject/getters.py
  src/compwa_policy/utilities/vscode.py
  tests/check_dev_files/readthedocs/test_readthedocs.py
  tests/check_dev_files/test_pixi.py
  tests/utilities/precommit/test_getters.py
  uv.lock
Due: self-check, mypy
