Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-setup-cfg, repoma-self-check, flake8, mypy, pylint

format-setup-cfg:
  name: Format setup.cfg
  entry: format-setup-cfg
  language: python

repoma-self-check:
  name: repoma-self-check
  entry: repoma-self-check
  language: python

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=.pylintrc
  - --score=no
  language: system
  require_serial: true

DX: enforce Ruff as linter
  .gitpod.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  setup.cfg
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/ruff.py
  src/repoma/utilities/pyproject.py
  tests/check_dev_files/test_gitpod.py
Due: format-setup-cfg, repoma-self-check, flake8, mypy, pylint

MAINT: apply autofixes by Ruff
  setup.py
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/cspell.py
  src/repoma/check_dev_files/flake8.py
  src/repoma/check_dev_files/github_labels.py
  src/repoma/check_dev_files/github_templates.py
  src/repoma/check_dev_files/github_workflows.py
  src/repoma/check_dev_files/precommit.py
  src/repoma/check_dev_files/prettier.py
  src/repoma/check_dev_files/release_drafter.py
  src/repoma/check_dev_files/setup_cfg.py
  src/repoma/check_dev_files/toml.py
  src/repoma/check_dev_files/update_pip_constraints.py
  src/repoma/format_setup_cfg.py
  src/repoma/pin_nb_requirements.py
  src/repoma/self_check.py
  src/repoma/utilities/__init__.py
  src/repoma/utilities/cfg.py
  src/repoma/utilities/precommit.py
  src/repoma/utilities/pyproject.py
  src/repoma/utilities/readme.py
  src/repoma/utilities/setup_cfg.py
  src/repoma/utilities/vscode.py
  tests/utilities/test_cfg.py
  tests/utilities/test_executor.py
Due: flake8, mypy, pylint

DX: add compatible Ruff config
  pyproject.toml
Due: none

FEAT: enforce Ruff as linter and autofixer (#144)
  .gitpod.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  pyproject.toml
  setup.cfg
  setup.py
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/cspell.py
  src/repoma/check_dev_files/flake8.py
  src/repoma/check_dev_files/github_labels.py
  src/repoma/check_dev_files/github_templates.py
  src/repoma/check_dev_files/github_workflows.py
  src/repoma/check_dev_files/precommit.py
  src/repoma/check_dev_files/prettier.py
  src/repoma/check_dev_files/release_drafter.py
  src/repoma/check_dev_files/ruff.py
  src/repoma/check_dev_files/setup_cfg.py
  src/repoma/check_dev_files/toml.py
  src/repoma/check_dev_files/update_pip_constraints.py
  src/repoma/fix_nbformat_version.py
  src/repoma/format_setup_cfg.py
  src/repoma/pin_nb_requirements.py
  src/repoma/self_check.py
  src/repoma/utilities/__init__.py
  src/repoma/utilities/cfg.py
  src/repoma/utilities/executor.py
  src/repoma/utilities/precommit.py
  src/repoma/utilities/pyproject.py
  src/repoma/utilities/readme.py
  src/repoma/utilities/setup_cfg.py
  src/repoma/utilities/vscode.py
  src/repoma/utilities/yaml.py
  tests/check_dev_files/test_gitpod.py
  tests/utilities/test_cfg.py
  tests/utilities/test_executor.py
Due: format-setup-cfg, repoma-self-check, flake8, mypy, pylint

DX: recommend unwanted recommendations extension
  .gitpod.yml
  .vscode/extensions.json
  src/repoma/check_dev_files/vscode.py
  src/repoma/utilities/vscode.py
  tests/check_dev_files/test_gitpod.py
Due: flake8, mypy, pylint

DX: remove `flake8` linter
  .cspell.json
  .flake8
  .gitpod.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
  setup.cfg
  src/repoma/check_dev_files/flake8.py
  src/repoma/check_dev_files/tox.py
  src/repoma/pin_nb_requirements.py
  src/repoma/utilities/__init__.py
  src/repoma/utilities/precommit.py
  src/repoma/utilities/readme.py
  tests/check_dev_files/test_flake8.py
  tests/check_dev_files/test_gitpod.py
  tests/utilities/test_cfg.py
  tests/utilities/test_precommit.py
Due: format-setup-cfg, repoma-self-check, flake8, mypy, pylint

DX: remove `isort` formatter
  .cspell.json
  .gitpod.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  pyproject.toml
  setup.cfg
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/isort.py
  tests/check_dev_files/test_gitpod.py
Due: format-setup-cfg, repoma-self-check, flake8, mypy, pylint

ENH: run pre-commit check after other checks
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/precommit.py
Due: flake8, mypy, pylint

DX: remove `pydocstyle` linting
  .cspell.json
  .pre-commit-config.yaml
  .pydocstyle
  .vscode/settings.json
  pyproject.toml
  setup.cfg
  setup.py
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/pydocstyle.py
  src/repoma/check_dev_files/tox.py
  src/repoma/utilities/__init__.py
  tests/.pydocstyle
  tests/utilities/test_precommit.py
  typings/.pydocstyle
Due: format-setup-cfg, repoma-self-check, flake8, mypy, pylint

DX: remove `pylint` as linter
  .cspell.json
  .gitpod.yml
  .pre-commit-config.yaml
  .pylintrc
  .vscode/extensions.json
  .vscode/settings.json
  setup.cfg
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/pylint.py
  tests/check_dev_files/test_gitpod.py
Due: format-setup-cfg, repoma-self-check, flake8, mypy, pylint

MAINT: remove `pylint` ignore comments
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/cspell.py
  src/repoma/check_dev_files/deprecated.py
  src/repoma/check_dev_files/flake8.py
  src/repoma/check_dev_files/github_workflows.py
  src/repoma/check_dev_files/gitpod.py
  src/repoma/check_dev_files/isort.py
  src/repoma/check_dev_files/prettier.py
  src/repoma/check_dev_files/pydocstyle.py
  src/repoma/check_dev_files/pylint.py
  src/repoma/check_dev_files/ruff.py
  src/repoma/fix_nbformat_version.py
  src/repoma/set_nb_cells.py
  src/repoma/utilities/precommit.py
  src/repoma/utilities/yaml.py
  tests/check_dev_files/test_cspell.py
  tests/utilities/test_precommit.py
Due: flake8, mypy, pylint

DX: uninstall `pep8-naming` plugin for `flake8`
  src/repoma/check_dev_files/deprecated.py
  src/repoma/utilities/vscode.py
Due: flake8, mypy, pylint

MAINT: add more unwanted extensions
  .vscode/extensions.json
  src/repoma/check_dev_files/toml.py
  src/repoma/check_dev_files/vscode.py
Due: flake8, mypy, pylint

MAINT: remove `noqa: F401` statement from notebooks
  src/repoma/set_nb_cells.py
Due: flake8, mypy, pylint

BEHAVIOR: remove flake8, isort, pydocstyle, and pylint (#145)
  .cspell.json
  .flake8
  .gitpod.yml
  .pre-commit-config.yaml
  .pydocstyle
  .pylintrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  pyproject.toml
  setup.cfg
  setup.py
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/cspell.py
  src/repoma/check_dev_files/deprecated.py
  src/repoma/check_dev_files/flake8.py
  src/repoma/check_dev_files/github_workflows.py
  src/repoma/check_dev_files/gitpod.py
  src/repoma/check_dev_files/precommit.py
  src/repoma/check_dev_files/prettier.py
  src/repoma/check_dev_files/ruff.py
  src/repoma/check_dev_files/toml.py
  src/repoma/check_dev_files/tox.py
  src/repoma/check_dev_files/vscode.py
  src/repoma/fix_nbformat_version.py
  src/repoma/pin_nb_requirements.py
  src/repoma/set_nb_cells.py
  src/repoma/utilities/__init__.py
  src/repoma/utilities/precommit.py
  src/repoma/utilities/readme.py
  src/repoma/utilities/vscode.py
  src/repoma/utilities/yaml.py
  tests/.pydocstyle
  tests/check_dev_files/test_cspell.py
  tests/check_dev_files/test_flake8.py
  tests/check_dev_files/test_gitpod.py
  tests/utilities/test_cfg.py
  tests/utilities/test_precommit.py
  typings/.pydocstyle
Due: format-setup-cfg, repoma-self-check, flake8, mypy, pylint

FEAT: merge mypy configuration into pyproject.toml
  .mypy.ini
  pyproject.toml
  setup.cfg
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/mypy.py
  tests/utilities/test_cfg.py
Due: format-setup-cfg, flake8, mypy, pylint

FEAT: merge pytest config into pyproject.toml
  pyproject.toml
  pytest.ini
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/pytest.py
  src/repoma/check_dev_files/tox.py
  src/repoma/utilities/__init__.py
Due: flake8, mypy, pylint

FEAT: move pyright configuration into pyproject.toml
  pyproject.toml
  pyrightconfig.json
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/pyright.py
Due: flake8, mypy, pylint

FEAT: merge dev tool configurations into `pyproject.toml` (#146)
  .mypy.ini
  pyproject.toml
  pyrightconfig.json
  pytest.ini
  setup.cfg
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/mypy.py
  src/repoma/check_dev_files/pyright.py
  src/repoma/check_dev_files/pytest.py
  src/repoma/check_dev_files/tox.py
  src/repoma/utilities/__init__.py
  tests/utilities/test_cfg.py
Due: format-setup-cfg, flake8, mypy, pylint

ENH: run `pyright` before `pytest`conda activate repoma
  src/repoma/check_dev_files/__init__.py
Due: flake8, mypy, pylint

FEAT: remove `tool.nbqa.addopts` `isort` option
  src/repoma/check_dev_files/deprecated.py
Due: flake8, mypy, pylint

FEAT: remove `tool.nbqa.addopts` `flake8` option
  src/repoma/check_dev_files/deprecated.py
Due: flake8, mypy, pylint

BEHAVIOR: enforce single line options for single values
  src/repoma/check_dev_files/black.py
  src/repoma/utilities/pyproject.py
Due: flake8, mypy, pylint

FEAT: add `tool.nbqa.addopts` `ruff` setting
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/ruff.py
  src/repoma/utilities/pyproject.py
Due: flake8, mypy, pylint

FEAT: update `tool.nbqa.addopts` settings (#147)
  src/repoma/check_dev_files/__init__.py
  src/repoma/check_dev_files/black.py
  src/repoma/check_dev_files/deprecated.py
  src/repoma/check_dev_files/ruff.py
  src/repoma/utilities/pyproject.py
Due: flake8, mypy, pylint

BEHAVIOR: remove `from IPython.display import display`
  src/repoma/set_nb_cells.py
Due: flake8, mypy, pylint

BEHAVIOR: remove `from IPython.display import display` (#148)
  src/repoma/set_nb_cells.py
Due: flake8, mypy, pylint

ENH: ignore `typings` directory with Ruff
  pyproject.toml
  src/repoma/check_dev_files/ruff.py
Due: flake8, mypy, pylint

FEAT: ignore specific pydocstyle rules
  src/repoma/check_dev_files/ruff.py
Due: flake8, mypy, pylint

FEAT: add per-file-ignores for docs folder
  src/repoma/check_dev_files/ruff.py
Due: flake8, mypy, pylint

MAINT: add more Ruff ignores
  src/repoma/check_dev_files/ruff.py
Due: flake8, mypy, pylint

FIX: remove `pydocstyle` pre-commit repo
  src/repoma/check_dev_files/deprecated.py
Due: flake8, mypy, pylint

ENH: extend Ruff ignored rules (#149)
  pyproject.toml
  src/repoma/check_dev_files/deprecated.py
  src/repoma/check_dev_files/ruff.py
Due: flake8, mypy, pylint

ENH: extend nbQA Ruff ignored rules
  src/repoma/check_dev_files/ruff.py
Due: flake8, mypy, pylint

ENH: extend nbQA Ruff ignored rules (#150)
  src/repoma/check_dev_files/ruff.py
Due: flake8, mypy, pylint

DX: avoid setting `python.analysis.diagnosticMode`
  .vscode/settings.json
  src/repoma/check_dev_files/vscode.py
Due: flake8, mypy, pylint

DX: avoid setting `python.analysis.diagnosticMode` (#151)
  .vscode/settings.json
  src/repoma/check_dev_files/vscode.py
Due: flake8, mypy, pylint

MAINT: run pre-commit config self-check last
  src/repoma/check_dev_files/__init__.py
Due: flake8, mypy, pylint

FIX: remove Ruff from Python 3.6 dependencies
  setup.cfg
  src/repoma/check_dev_files/ruff.py
Due: format-setup-cfg, flake8, mypy, pylint

DX: recommend and configure VSCode mypy extension
  .gitpod.yml
  .vscode/extensions.json
  .vscode/settings.json
  src/repoma/check_dev_files/mypy.py
Due: flake8, mypy, pylint

Path conditions:
  format-setup-cfg: any of: ^setup.cfg$
  repoma-self-check: any of: ^\.pre\-commit\-(config|hooks)\.yaml$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
