Repository ComPWA/policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: repoma-self-check, mypy

repoma-self-check:
  name: repoma-self-check
  entry: repoma-self-check
  language: python

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

MAINT: simplify update ci.skip function
  src/compwa_policy/check_dev_files/precommit.py
Due: mypy

MAINT: sort repos if mismatch only
  src/compwa_policy/check_dev_files/precommit.py
Due: mypy

FIX: relink ` typing_extensions.NotRequired`
  docs/conf.py
Due: mypy

DX: run `nbstripout` before other non-meta hooks (#281)
  docs/conf.py
  src/compwa_policy/check_dev_files/precommit.py
Due: mypy

ENH: execute formatter hooks first
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/precommit.py
Due: repoma-self-check, mypy

ENH: execute formatter hooks first
  src/compwa_policy/check_dev_files/precommit.py
Due: mypy

ENH: execute formatter hooks first (#283)
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/precommit.py
Due: repoma-self-check, mypy

DOC: update links to compwa.github.io
  .github/workflows/sync-labels.yml
  README.md
  docs/check-dev-files.md
  docs/index.md
  src/compwa_policy/pin_nb_requirements.py
Due: mypy

DOC: update links to compwa.github.io (#285)
  .github/workflows/sync-labels.yml
  README.md
  docs/check-dev-files.md
  docs/index.md
  src/compwa_policy/pin_nb_requirements.py
Due: mypy

DX: sort `toml-sort` and `taplo` as formatters
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/precommit.py
Due: repoma-self-check, mypy

ENH: sort `toml-sort` and `taplo` as formatters (#286)
  .pre-commit-config.yaml
  src/compwa_policy/check_dev_files/precommit.py
Due: repoma-self-check, mypy

ENH: deactivate Ruff isort `split-on-trailing-comma`
  pyproject.toml
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

MAINT: remove redundant line splittings
  src/compwa_policy/check_dev_files/citation.py
Due: mypy

BEHAVIOR: activate Ruff preview
  pyproject.toml
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

ENH: add more ignores for preview mode
  pyproject.toml
  src/compwa_policy/check_dev_files/github_workflows.py
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

BEHAVIOR: activate Ruff preview mode (#287)
  pyproject.toml
  src/compwa_policy/check_dev_files/github_workflows.py
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

ENH: deactivate Ruff isort split-on-trailing-comma (#288)
  pyproject.toml
  src/compwa_policy/check_dev_files/citation.py
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

DX: set back telemetry setting
  .vscode/settings.json
  src/compwa_policy/check_dev_files/vscode.py
Due: mypy

DX: set back telemetry setting (#290)
  .vscode/settings.json
  src/compwa_policy/check_dev_files/vscode.py
Due: mypy

DX: keep running workflows on default branch
  .github/workflows/ci.yml
  src/compwa_policy/.github/workflows/ci.yml
  src/compwa_policy/.github/workflows/requirements.yml
Due: none

DX: keep running workflows on default branch (#291)
  .github/workflows/ci.yml
  src/compwa_policy/.github/workflows/ci.yml
  src/compwa_policy/.github/workflows/requirements.yml
Due: none

DX: improve PR title of dependabot updates
  .github/dependabot.yml
Due: none

FEAT: remove or update `dependabot.yml`
  .pre-commit-config.yaml
  src/compwa_policy/.github/dependabot.yml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/dependabot.py
Due: repoma-self-check, mypy

FIX: relink `DependabotOption` in API
  docs/conf.py
  src/compwa_policy/check_dev_files/dependabot.py
Due: mypy

BEHAVIOR: remove `dependabot.yml` config (#292)
  .github/dependabot.yml
  .pre-commit-config.yaml
  docs/conf.py
  src/compwa_policy/.github/dependabot.yml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/dependabot.py
Due: repoma-self-check, mypy

ENH: avoid linebreak on `concurrency` update
  src/compwa_policy/.github/workflows/ci.yml
  src/compwa_policy/.github/workflows/requirements.yml
Due: none

ENH: avoid linebreak on `concurrency` update (#294)
  src/compwa_policy/.github/workflows/ci.yml
  src/compwa_policy/.github/workflows/requirements.yml
Due: none

ENH: adapt Ruff configuration to v0.2.0
  pyproject.toml
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

ENH: adapt Ruff configuration to v0.2.0 (#298)
  pyproject.toml
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

DX: remove sort-lines VSCode extension
  .gitpod.yml
  .vscode/extensions.json
  src/compwa_policy/check_dev_files/vscode.py
Due: mypy

ENH: ignore capitalization in extension IDs
  .gitpod.yml
  .vscode/extensions.json
  src/compwa_policy/utilities/vscode.py
Due: mypy

DX: remove sort-lines VSCode extension (#299)
  .gitpod.yml
  .vscode/extensions.json
  src/compwa_policy/check_dev_files/vscode.py
  src/compwa_policy/utilities/vscode.py
Due: mypy

MAINT: autoupdate pre-commit hooks
  .pre-commit-config.yaml
Due: repoma-self-check

MAINT: apply new `black` formatting of v24.1
  src/compwa_policy/check_dev_files/citation.py
  src/compwa_policy/check_dev_files/commitlint.py
  src/compwa_policy/check_dev_files/editorconfig.py
  src/compwa_policy/pin_nb_requirements.py
  src/compwa_policy/set_nb_cells.py
  src/compwa_policy/utilities/project_info.py
  tests/utilities/test_cfg.py
  tests/utilities/test_executor.py
  tests/utilities/test_pyproject.py
Due: mypy

ENH: allow `PLC2701` in tests
  pyproject.toml
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

MAINT: address Pyright linting issues
  pyproject.toml
Due: none

MAINT: improve multistring rendering
  src/compwa_policy/check_dev_files/citation.py
  src/compwa_policy/check_dev_files/commitlint.py
  src/compwa_policy/check_dev_files/editorconfig.py
  src/compwa_policy/pin_nb_requirements.py
  src/compwa_policy/set_nb_cells.py
  src/compwa_policy/utilities/project_info.py
  tests/utilities/test_cfg.py
  tests/utilities/test_executor.py
  tests/utilities/test_pyproject.py
Due: mypy

MAINT: apply new `black` and `pyright` rules (#300)
  .pre-commit-config.yaml
  pyproject.toml
  src/compwa_policy/check_dev_files/citation.py
  src/compwa_policy/check_dev_files/commitlint.py
  src/compwa_policy/check_dev_files/editorconfig.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/pin_nb_requirements.py
  src/compwa_policy/set_nb_cells.py
  src/compwa_policy/utilities/project_info.py
  tests/utilities/test_cfg.py
  tests/utilities/test_executor.py
  tests/utilities/test_pyproject.py
Due: repoma-self-check, mypy

DX: format docstrings with Ruff
  pyproject.toml
  src/compwa_policy/check_dev_files/__init__.py
  src/compwa_policy/check_dev_files/ruff.py
  src/compwa_policy/utilities/vscode.py
Due: mypy

ENH: remove `black` settings
  pyproject.toml
  src/compwa_policy/check_dev_files/ruff.py
Due: mypy

Path conditions:
  repoma-self-check: any of: ^\.pre\-commit\-(config|hooks)\.yaml$
  mypy: any of: \.py$
